.actions__owner {
  display: inline-block;
  max-width: 80px;
}

.actions__role {
  color: $black-60;
  font-size: 12px;
  margin-left: 4px;
}

.is-highlighted .actions__role {
  color: $white;
}

.actions__due .is-overdue {
  color: color(red);
}
