.picklist {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  max-height: 45vh;
  min-width: 140px;
  overflow-y: hidden;
  padding: 8px 0;
}

.picklist__item {
  color: $black-20;
  cursor: pointer;
  display: block;
  font-size: 14px;
  list-style-type: none;
  padding: 4px 16px;

  &.is-highlighted:not(&.is-disabled),
  &:hover:not(&.is-disabled) {
    background-color: color(blue);
    color: $white;

    .picklist__alert,
    .picklist__meta,
    .picklist__meta-alt,
    .icon {
      color: $white;
    }
  }

  &.is-hidden {
    display: none;
  }

  &.is-selected {
    font-weight: bold;
  }

  &.is-disabled {
    color: $black-80;
    cursor: auto;
    font-weight: normal;
  }

  &.has-divider {
    border-top: 1px solid $black-90;
    margin-top: 4px;
    padding-top: 8px;
  }

  .icon:first-child {
    margin-right: 8px;
  }
}

.picklist--no-results {
  color: $black-60;
  font-size: 14px;
  font-style: italic;
  padding: 4px 16px;

  .icon:first-child {
    margin-right: 8px;
  }
}

.picklist__alert {
  color: color(red);
}

.picklist__heading {
  color: $black-60;
  font-size: 12px;
  line-height: 16px;
  padding: 0 16px;
  white-space: nowrap;
}

.picklist__input {
  margin: 0 8px 4px;
  width: calc(100% - 16px);
}

.picklist__scroll {
  overflow-y: auto;
  position: relative;
}

.picklist__group:not(:last-child) {
  border-bottom: $black-90 solid 1px;
  padding-bottom: 8px;
}

.picklist__group + .picklist__group {
  margin-top: 8px;
}

.picklist__info {
  background: $highlighted;
  color: $black-20;
  font-size: 12px;
  line-height: 1.4;
  margin: 8px 8px 0;
  padding: 8px 8px 8px 32px;
  position: relative;

  .icon {
    color: $black-60;
    left: 8px;
    position: absolute;
    top: 8px;
  }
}
