.action--queued {
  color: color(red);
  font-weight: bold;
}

.action--started {
  color: $black-20;
  font-weight: bold;
}

.action--done {
  color: color(green);
  font-weight: bold;
}

.is-highlighted {
  .action--queued {
    color: $white;
  }

  .action--started {
    color: $white;
  }

  .action--done {
    color: $white;
  }
}
