.action--red {
  color: color(red);
  font-weight: bold;
}

.action--black {
  color: $black-20;
  font-weight: bold;
}

.action--green {
  color: color(green);
  font-weight: bold;
}

.action--orange {
  color: color(orange);
  font-weight: bold;
}

.action--gray {
  color: $black-60;
  font-style: italic;
  font-weight: normal;
}

.is-highlighted {
  .action--red, .action--black, .action--green, .action--orange {
    color: $white;
  }
}
