.workflows--add-action {
  color: color(blue);
}

.workflows--add-flow {
  color: $black-60;
}

.is-highlighted {
  .workflows--add-action {
    color: $white;
  }

  .workflows--add-flow {
    color: $white;
  }
}
