body {
  background-color: $white;
  overflow-x: hidden;
}

.svg-inline--fa.icon {
  font-size: 16px;
  line-height: 1;
  text-align: center;
  vertical-align: text-bottom;
  width: 1.25em; /* fa-fw */
}
