// ----- Flexible region default height ----- //
.flex-region {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.flex-region--row {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  min-height: 0;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.flex-initial {
  flex: initial;
}

.flex-grow {
  flex-grow: 1;
}

.flex-none {
  flex: none;
}

.flex--end-row {
  // https://www.w3.org/TR/css-flexbox-1/#auto-margins
  margin-left: auto;
}

.flex-justify--space-between {
  justify-content: space-between;
}
