// -------------------------------------
//   Grids
// -------------------------------------
%grid,
.grid {
  @include clearfix();
  width: 100%;
}

.grid--border-right > .grid-cell {
  border-right: 1px solid $black-90;

  &:last-of-type {
    border-right: 0;
  }
}

.grid--border-bottom {
  border-bottom: 1px solid $black-90;
}


%grid-cell,
.grid-cell {
  float: left;
}

.grid-cell--pad {
  padding: 30px;
}

.grid-100 > .grid-cell__one {
  width: 100%;
}

.grid-70-30 > .grid-cell__one {
  width: 70%;
}

.grid-70-30 > .grid-cell__two {
  width: 30%;
}

.grid-30-70 > .grid-cell__one {
  width: 30%;
}

.grid-30-70 > .grid-cell__two {
  width: 70%;
}

.grid-60-40 > .grid-cell__one {
  width: 60%;
}

.grid-60-40 > .grid-cell__two {
  width: 40%;
}


.grid-50-50 > .grid-cell__one,
.grid-50-50 > .grid-cell__two {
  width: 50%;
}


.grid-30-30-30 > .grid-cell__one,
.grid-30-30-30 > .grid-cell__two,
.grid-30-30-30 > .grid-cell__three {
  width: (100% / 3);
}
