// *****************************************************************************
//
//   Forms Overrides
//   -> Browser specific form stuff and one-off styles for specific forms
//
// *****************************************************************************

// -------------------------------------
//   Internet Explorer
// -------------------------------------
// remove the clear button for new IE
input::-ms-clear {
  display: none;
}

// -------------------------------------
//   Selects
// -------------------------------------

%native-select {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAaCAYAAADfcP5FAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMzgwMTE3NDA3MjA2ODExODIyQUU5OEMwNzQzMzg5RSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpENjMxMUU5QjU2QjMxMUUyOEZDRkVCRjEzQUQ0MDczRiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpENjMxMUU5QTU2QjMxMUUyOEZDRkVCRjEzQUQ0MDczRiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDc4MDExNzQwNzIwNjgxMTgyMkFFOThDMDc0MzM4OUUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDM4MDExNzQwNzIwNjgxMTgyMkFFOThDMDc0MzM4OUUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz70MjdUAAABcUlEQVR42uyWPUvDUBRAEysFu+jiIOpSNxF0EBcnP7tYxyIO4mLiJvoL/AOCmwR0EAcRnPyCKtJZN8FBEQTBrYuCiBRKPQ/uFGiTNu+9InjhDC8v93LCu7mJ63meExGDcAZL8BzeDILA0RkdEft9UIIxuIWsYzgaCfXCNQzJul/WA+0Q6oYrGAldV3JFkbUmlIFLGK+TMww3Im1cKC0NPBmRNyrHlzEp1AmnMBMzdwIufN/vMiGUgkPIN5k/BSdIpXUKubAHyy3WUA9xhFRKl9AOrCWsU4B9HUJujEndMGxPauvxL/TnhFRT9+gqRoN/JK2hpvM2bGjw2YVNHUemihwkrKNm0JauHqqBrz4BLdY4hnWOq6azqauwAudN5qv7V5GpmnjLKvLfXIqZq+4rIFMx+dp/wyLcR+TdwQL82JhDXzAPj3VyHiAn8tYG4ydMw0vo+hPMyb71SV0WqTdZv4pMuZ2fjneYlZ7Kydpo/AowAB4YSiejVMMzAAAAAElFTkSuQmCC');
  background-position: right 2px top 50%;
  background-repeat: no-repeat;
  background-size: auto 14px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

select {
  @extend %native-select;

  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    outline: none;
  }

  // removes the arrow in IE 10+
  &::-ms-expand {
    display: none;
  }

  // different spacing for IE11
  html[data-useragent*= 'Trident'] & {
    background-position: right 0 top 50%;
  }

}


// -------------------------------------
//   Firefooooooooooox!
// -------------------------------------

// remove bg image on selects from Firefox
@-moz-document url-prefix() {
  form select {
    background-image: none;
    padding-right: 5px;
  }
}

html[data-useragent*= 'Firefox'] {
  // style wrapping el
  .field__select {
    @extend %native-select;

    background-color: $white;
    border: 1px solid #BBB;
    border-radius: 4px;
    padding: 6px 9px;
  }

  // remove styles
  select {
    -moz-appearance: window;
    padding: 0;

    // get rid of the focus border in Firefox
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $black;
    }
  }
}
