{
  "extends": "stylelint-config-recommended-scss",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "font-family-no-missing-generic-family-keyword": null,
    "indentation": 2,
    "length-zero-no-unit": true,
    "max-empty-lines": 3,
    "max-nesting-depth": 3,
    "no-descending-specificity": null,
    "no-eol-whitespace": true,
    "no-missing-end-of-source-newline": true,
    "order/properties-alphabetical-order": true,
    "property-case": "lower",
    "string-quotes": "single",
    "unit-case": "lower",
    "value-keyword-case": "lower"
  }
}
