@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'ProximaSoft', 'Droid Sans', 'helvetica neue', 'arial', sans-serif !important;
  padding: 24px;
}
.choices.is-disabled .choices__inner, .choices.is-disabled .choices__input {
  background-color: #fff;
}
.check-list .form-group {
  margin-bottom: 0 !important;
}
.check-list-sub {
  margin-left: 20px;
}
.col-form-label {
  font-size: 18px;
  font-weight: bold;
}
.comment__form, .comment__item {
  padding-left: 40px;
  position: relative;
}
.comment__author-label {
  background: #e6e6e6;
  border-radius: 16px;
  color: #333;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 32px;
  left: 0;
  line-height: 32px;
  margin-right: 8px;
  min-width: 32px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 32px;
}
.comment__title {
  font-size: 14px;
  .comment__author-name {
    color: #333;
    font-weight: 600;
  }
  .comment__timestamp {
    color: #999;
    font-size: 12px;
    margin-left: 4px;
    .u-text--nowrap, .u-text--overflow {
      white-space: nowrap!important;
    }
  }
}
.comment__message {
  white-space: pre-wrap;
}
.form-control:disabled, .form-control[readonly] {
  background-color: inherit;
  border: none !important;
}
.formio-read-only .btn.disabled, .formio-read-only .btn:disabled {
  display:none;
}
.formio-button-remove-row, .formio-button-remove-row:hover  {
  background-color: inherit;
  border: none;
  color: #ff0000;
  padding: 0;
  i {
    font-size: 18px;
  }
}
.bg-light {
  background-color: #fff !important;
}
.card-body {
  border: none;
  padding: 6px 12px;
}
.is-flipped .choices__list--dropdown {
  bottom:auto;
}
.no-border .table-bordered, .no-border .table-bordered td, .no-border .table-bordered th {
  border: none !important;
  td {
    padding: .25rem;
  }
}
.print-body {
  background-color: #fff;
}
.print-header {
  display: block !important;
  padding-bottom: 50px;
}
.page-content-block {
  background-color: #fff;
  padding: 10px 20px;
}
// https://github.com/formio/formio.js/issues/2325
.formio-component-modal-wrapper .control-label, .formio-component-modal-wrapper br {
  display:none;
}
.formio-component-modal-wrapper .component-rendering-hidden {
  visibility: hidden;
}
@media screen {
  .envelope_mailing_address {
    display: none;
  }
}
@media print {
  .envelope_mailing_address {
    display: block;
    margin: 270px 90px;
    page-break-before: always;
  }
  .form-control {
    border:none !important;
  }
  .page-new-page {
    page-break-before: always;
  }
  @page {
    margin: 0;
    padding: 80px;
    size: auto;
  }
}
.table-bordered, .table-bordered td, .table-bordered th {
  border: 1px solid #ddd !important;
}
.data-column {
  width: 160px;
  div {
    margin: 0;
    padding: 0;
    .data-column-field-1 {
      padding-left: 10px;
      input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-left: 5px;
      }
    }
    .data-column-field-2 {
      padding-right: 15px;
      input {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-right: 5px;
      }
    }
  }
}
.white-space-pre div div{
  white-space: pre;
}
