body {
  font-family: 'ProximaSoft', 'Droid Sans', 'helvetica neue', 'arial', sans-serif !important;
  padding: 24px;
}
.form-control:disabled, .form-control[readonly] {
  background-color: inherit;
  border: none !important;
}
.btn:disabled {
  opacity: .5;
}
.table-bordered, .table-bordered td, .table-bordered th {
  border: 1px solid #ddd !important;
}
