// Core Styles
//
// These are the core styles shared between mobile and desktop

@mixin clearfix() {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

@import 'core/reset';

@import 'core/base';
@import 'core/flex';
@import 'core/font-icons';
@import 'core/fonts';
@import 'core/grids';
@import 'core/layout';
@import 'core/overrides';
@import 'core/scrollbar';
@import 'core/space';
@import 'core/text';
@import 'core/typography';
