@mixin clearfix() {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

// *************************************
//
//   Colors
//
// *************************************

// -------------------------------------
//   Main Colors
// -------------------------------------

@function color($color, $tone: 'base') {
  @return map-get(map-get($colors, $color), $tone);
}

$colors: (
  blue: (
    base: #0582DA,
    light: #2490D8,
    dark: #0270BF,
  ),
  light_blue: (
    base: #0582DA,
    light: #F2F9FD,
    dark: #0582DA,
  ),
  green: (
    base: #00BF68,
    light: #24DE7F,
    dark: #138F51
  ),
  red: (
    base: #E45245,
    light: #FF5A47,
    dark: #CC4839
  ),
  yellow: (
    base: #FFBE00,
    light: #FFFDDE,
    dark: #FFC618,
  ),
  tan: (
    base: #FFFDDE
  ),
  grey: (
    base: #EDF0F2
  ),
  orange: (
    base: #FF8000
  ),
);


// -------------------------------------
//   Black, White & Neutral Colors
// -------------------------------------

$white: #FFF;
$black: #000;

$black-20: #333;
$black-40: #666;
$black-60: #999;
$black-80: #CCC;
$black-85: #D8D8D8;
$black-90: #E6E6E6;
$black-95: #F2F2F2;
$black-98: #FAFAFA;


// -------------------------------------
//   State Colors
// -------------------------------------
// NOTE: Update cypress.json

$error-color: color(red);
$info-color: color(blue);
$success-color: color(green);
$warning-color: color(yellow);
$greyed: color(grey);
$highlighted: color(tan);
