{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    _PRODUCTION_: true,
    _DEVELOP_: true,
    _E2E_: true
  },
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "arrow-body-style": "off",
    "arrow-parens": [2, "as-needed"],
    "block-scoped-var": "error",
    "block-spacing": ["error", "always"],
    "brace-style": "error",
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": "error",
    "comma-style": "error",
    "complexity": ["error", 8],
    "computed-property-spacing": ["error", "never"],
    "curly": ["error", "multi-line"],
    "dot-location": ["error", "property"],
    "dot-notation": "error",
    "eqeqeq": ["error", "allow-null"],
    "guard-for-in": "error",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "key-spacing": ["error"],
    "keyword-spacing": "error",
    "no-alert": "error",
    "no-bitwise": "error",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-cond-assign": ["error", "except-parens"],
    "no-console": "warn",
    "no-const-assign": "error",
    "no-debugger": "warn",
    "no-div-regex": "error",
    "no-duplicate-imports": "error",
    "no-else-return": "error",
    "no-empty": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-irregular-whitespace": "error",
    "no-iterator": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multiple-empty-lines": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-new-wrappers": "error",
    "no-proto": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-spaced-func": "error",
    "no-shadow": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-unexpected-multiline": "error",
    "no-unneeded-ternary": "error",
    "no-unused-vars": ["error", {"args": "none"}],
    "no-useless-concat": "error",
    "no-useless-escape": "off",
    "no-var": "error",
    "no-whitespace-before-property": "error",
    "no-with": "error",
    "object-curly-spacing": ["error", "always"],
    "one-var": ["error", "never"],
    "operator-linebreak": ["error", "before", { "overrides": { "?": "after", ":": "after" } }],
    "padded-blocks": ["error", "never"],
    "prefer-const": "error",
    "prefer-template": "error",
    "quotes": ["error", "single"],
    "quote-props": ["error", "consistent"],
    "radix": ["error", "always"],
    "semi": ["error", "always"],
    "semi-spacing": ["error", {"before": false, "after": true }],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": ["error", "never"],
    "spaced-comment": ["error", "always"],
    "space-infix-ops": "error",
    "strict": "off",
    "template-curly-spacing": ["error", "always"],
    "valid-typeof": "error",
    "wrap-iife": ["error", "inside"]
  }
}
