.patient-modal__label {
  align-items: center;
  color: $black-60;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  width: 124px;
}

.patient-modal__component {
  min-width: 248px;
}

.patient-modal__locked-icon {
  color: $black-60;
  line-height: 24px;
  position: absolute;
  right: 16px;
  top: 8px;
}


