.patient-modal {
  max-height: 420px;
  overflow: auto;
  width: 544px;
}

.patient-modal__heading {
  background-color: transparent;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  margin: 0 8px 16px 8px;
  padding: 16px;
}

.patient-modal__title {
  font-size: 24px;
}

.patient-modal__form-section  {
  margin: 0 16px 8px 16px;
  padding: 0 8px;
}

.patient-modal__label {
  align-items: center;
  color: $black-60;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  width: 124px;
}

.patient-modal__save {
  display: flex;
  flex-direction: row-reverse;
  padding: 24px;
}

.patient-modal__sex-droplist {
  .icon {
    margin-right: 4px;
  }
}

.patient-modal__footer {
  flex-direction: row-reverse;
}

.patient-modal__info {
  flex-grow: 1;
  line-height: 32px;
  padding: 24px;
}

.patient-modal__error {
  color: $error-color;
  flex-grow: 1;
  font-size: 12px;
  font-weight: 600;
  line-height: 32px;
  padding: 24px;
}

.patient-modal__search {
  color: color(blue);
  cursor: pointer;
  font-size: 12px;
  margin-left: 16px;
}

.patient-modal__locked-icon {
  color: $black-60;
  line-height: 24px;
  position: absolute;
  right: 16px;
  top: 8px;
}
