.comment__item {
  color: $black-20;
  font-size: 14px;
  padding-left: 40px;
  position: relative;
}

.comment__form {
  margin-bottom: 8px;
  padding-left: 40px;
  position: relative;
}

.comment__author-label {
  background: $black-90;
  border-radius: 16px;
  color: $black-20;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 32px;
  left: 0;
  line-height: 32px;
  margin-right: 8px;
  min-width: 32px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 32px;
}

.comment__title {
  font-size: 14px;
}

.comment__author-name {
  color: $black-20;
  font-weight: 600;
}

.comment__timestamp {
  color: $black-60;
  font-size: 12px;
  margin-left: 4px;
}

.comment__edit {
  color: color(blue);
  cursor: pointer;
  float: right;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8px;

  &:hover {
    opacity: 0.5;
  }

  .icon {
    font-size: 12px;
  }
}

.comment__message {
  white-space: pre-wrap;
}

.comment__edited {
  color: $black-60;
  font-size: 12px;
}

.comment__actions {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 8px;
}

.comment__input {
  min-height: 44px;
}

.comment__delete {
  color: $error-color;
  font-size: 12px;
  margin-left: 40px;
  margin-right: auto;
  padding: 0;

  &:hover {
    color: $error-color;
    opacity: 0.5;
  }

  .icon {
    font-size: 12px;
    vertical-align: -0.125em;
  }
}
