.fill-window {
  height: 100%;
  left: 0;
  overflow: hidden;

  // allows for below interactions on non-IE browsers
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  > * {
    pointer-events: all;
  }
}

@keyframes darken {
  0% {
    background: rgb(0 0 0 / 0%);
  }

  100% {
    background: rgb(0 0 0 / 70%);
  }
}

.fill-window--dark {
  @extend .fill-window;

  &.is-shown {
    animation: darken 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    pointer-events: all;
  }
}
