.list-manager__wrapper {
  border: 1px solid $black-90;
  border-radius: 4px;
  overflow: hidden;
}

.list-manager__item {
  border: 1px solid transparent;
  border-bottom-color: $black-90;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  overflow: hidden;
  padding: 8px 16px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:last-of-type.is-disabled {
    border-bottom-color: transparent;
  }

  > .icon:first-of-type {
    margin-right: 8px;
  }
}

.list-manager__remove {
  color: $black-60;
  margin-left: auto;

  .icon {
    font-size: 12px;
    vertical-align: top;
  }
}

.list-manager__droplist {
  border-color: transparent;
  width: 100%;

  &:hover:enabled {
    border-color: $black-90;
  }
}
