.list-page__header {
  padding: 32px 24px 0;
}

.list-page__header-icon {
  color: $black-60;
  font-size: 16px;
  margin-left: 16px;
  vertical-align: bottom;
}

.list-page__list {
  overflow-y: auto;
  padding: 0 24px;
}

.list-page__title {
  align-items: center;
  border-bottom: 1px solid $black-90;
  font-size: 24px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.list-page__title-filter {
  align-items: center;
  margin-right: 16px;
}

.list-page__title-icon {
  align-items: center;
  display: flex;
  margin-right: 16px;

  .icon {
    font-size: 20px;
    vertical-align: middle;
    width: 1em;
  }

  .icon.fa-angle-left {
    margin-right: 2px;
    width: 8px;
  }

  .icon.fa-0 {
    width: 16px;
  }

  .icon.fa-1 {
    width: 14px;
  }

  .icon.fa-3 {
    width: 12px;
  }
}

.list-page__filters {
  margin-bottom: 16px;
}
