.sidebar {
  border-left: 1px solid $black-90;
  overflow-y: auto;
  padding: 16px 20px;
  width: 400px;
}

.sidebar--small {
  @extend .sidebar;

  width: 256px;
}

.sidebar__details {
  min-height: 58px;
}

.sidebar__heading {
  font-weight: 600;
}

.sidebar__delete-icon {
  color: $error-color;
}

.sidebar__save {
  display: flex;
  flex-direction: row-reverse;
}

.sidebar__footer {
  border-top: 1px solid $black-90;
  font-size: 12px;
  font-weight: 600;
  margin-top: 16px;
  padding-top: 16px;
}

.sidebar__footer-left {
  margin-right: 32px;
}

.sidebar__label {
  color: $black-60;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  margin-right: 8px;
  width: 84px;
}

.sidebar__attachments {
  border-bottom: 1px solid $black-90;
  border-top: 1px solid $black-90;
  padding: 16px 0 24px;
}

.sidebar__activity {
  color: $black-60;
  font-size: 12px;

  .loader {
    margin-top: 60px;
  }
}

.sidebar__info {
  background: color(yellow, light);
  border-radius: 4px;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  max-width: 232px;
  padding: 8px;

  .icon {
    color: $black-60;
    margin-right: 8px;
  }
}

.sidebar__section {
  border-top: 1px solid $black-90;
  margin-bottom: 8px;
  margin-top: 24px;
  padding-top: 16px;
}

.sidebar__section-label {
  color: $black-20;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.sidebar__dialog {
  border: 1px solid $black-90;
  border-radius: 4px;
  padding: 16px 20px;
  width: 100%;
}

.sidebar__label--inset {
  @extend .sidebar__label;

  // NOTE: Odd px accounts for dialog border
  width: 63px;
}
