.program-flow__frame {
  display: flex;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.program-flow__layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 744px;
  padding: 0 24px;
  width: 100%;
}

.program-flow__sidebar {
  display: flex;
  flex: initial;
  max-width: 400px;
  min-height: 0;
  min-width: 256px;
}

.program-flow__context-trail {
  background: $white;
  color: $black-20;
  line-height: 1;
  padding: 16px 0 8px 0;
  position: sticky;
  top: 0;
  z-index: 1;

  .icon {
    color: $black-60;
    font-size: 12px;
    margin-right: 8px;
    vertical-align: -.0825em;
  }
}

.program-flow__context-link {
  color: $black-60;
  cursor: pointer;
  font-weight: 600;
  margin-right: 8px;

  &:hover {
    color: color(blue);
  }
}

.program-flow__header {
  cursor: pointer;
  padding: 8px 0 16px 0;

  &:hover:not(.is-selected) {
    background-color: color(light_blue, light);
  }

  &.is-selected {
    background-color: $greyed;
  }
}

.program-flow__name {
  font-size: 24px;
  margin-bottom: 16px;

  .icon {
    color: $black-60;
    font-size: 20px;
    margin-right: 8px;
    vertical-align: bottom;
  }
}

.program-flow__details {
  color: $black-60;
  display: inline-block;
  font-size: 14px;
  margin-right: 16px;
  padding-right: 24px;
  vertical-align: top;
  width: 40%;
}

.program-flow__meta {
  margin-right: 8px;
}

.program-flow__actions {
  border-top: $black-90 1px solid;
  padding: 16px 0;
}

.program-flow__list {
  border-top: $black-90 1px solid;
}

.program-flow__action-name {
  display: table-cell;
  vertical-align: middle;
  white-space: normal;
}

.program-flow__action-icon {
  display: table-cell;
  position: relative;
  vertical-align: middle;

  .icon {
    color: color(blue);
    font-size: 20px;
    margin-right: 16px;
    vertical-align: middle;
    width: 20px;
  }
}

.program-flow__action-ts {
  float: right;
  font-size: 12px;
  margin: 8px 0 0 8px;
  min-width: 40px;
  vertical-align: middle;
}

.program-flow__sort-handle {
  align-items: center;
  bottom: -16px;
  cursor: move;
  display: none;
  justify-content: center;
  position: absolute;
  right: -16px;
  text-align: center;
  top: -16px;
  width: 60px;
}

.is-draggable {
  .program-flow__action-item:hover {
    .program-flow__sort-handle {
      display: flex;
    }

    .program-flow__action-ts {
      display: none;
    }
  }
}

.is-dragging {
  .program-flow__action-item:not(.sortable-ghost) {
    .program-flow__sort-handle {
      display: none;
    }
  }
}

.program-flow__empty-list {
  border-bottom: 1px solid $black-90;
  color: $black-80;
  font-size: 16px;
  font-weight: 600;
  margin: 40px auto 20px;
  padding: 20px;
  text-align: center;
}
