<div data-header-region></div>

<div class="app-nav__menu flex-region">
    <div data-section-region class="app-nav__section overflow-y"></div>
</div>

<div data-logo-region class="app-nav__logo"></div>
