$menu-hover-color: #375467;

.app-nav {
  color: $black-90;
  height: 100vh;
  position: relative;
}

.app-nav__picklist {
  border-radius: 4px;
  margin-top: -4px;
}

.app-nav__picklist-icon {
  display: inline-block;
  margin-right: 8px;
  text-align: center;
  width: 20px;
}

.app-nav__picklist .fa-external-link {
  color: $black-60;
  font-size: 12px;
  margin-left: 4px;
  vertical-align: 0;
}

.app-nav__header {
  cursor: pointer;
  padding: 12px 16px;

  &:hover, &.is-active {
    background-color: $menu-hover-color;
    color: $white;
  }
}

.app-nav__header-title {
  color: $white;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  max-width: 148px;
  vertical-align: bottom;
}

.app-nav__header-arrow .icon {
  margin-left: 4px;
  padding-top: 4px;
}

.app-nav__title,
.app-nav__search {
  font-weight: 700;
  margin-top: 20px;
  padding: 4px 16px;
}

.app-nav__search {
  .icon {
    margin-right: 8px;
  }

  &:hover, &.is-active {
    background-color: $menu-hover-color;
    color: $white;
  }
}

.app-nav__link {
  cursor: pointer;
  display: block;
  padding: 4px 16px;

  &:hover, &.is-selected {
    background-color: $menu-hover-color;
    color: $white;
  }

  &.is-selected {
    font-weight: 700;
  }
}

.app-nav__spacer {
  margin-bottom: 16px;
}

.app-nav__bottom-button {
  bottom: 0;
  padding: 16px;
  position: absolute;
  width: 100%;

  .icon {
    margin-right: 8px;
  }
}
