.form__frame {
  background: $black-95;
  display: flex;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.form__layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 744px;
  padding: 16px 24px 0 24px;
  width: 100%;
}

.form__title {
  font-size: 24px;
  line-height: 1.2;
  padding: 16px;
}

.form__title-icon {
  margin-right: 16px;

  .icon {
    font-size: 20px;
    vertical-align: middle;
  }
}

.form__sidebar {
  display: flex;
  flex: initial;
  max-width: 400px;
  min-height: 0;
  width: 400px;

  &:empty {
    display: none;
  }
}

.form__content {
  background-color: $white;
  border: 1px solid $black-90;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  height: 100%;
  padding: 8px;

  iframe {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.form__prompt {
  margin: 60px auto 20px;
  padding: 20px;
  text-align: center;
}

.form__prompt-title {
  font-size: 24px;
  margin-bottom: 32px;
}

.form__prompt-dialog {
  display: flex;
  justify-content: center;
}

.form__discard-button {
  color: color(red);
  margin-left: 48px;
}

.form__context-trail {
  color: $black-20;
  position: relative;

  .icon {
    color: $black-60;
    font-size: 12px;
    margin-right: 8px;
    vertical-align: -.0825em;
  }
}

.form__context-link {
  color: $black-60;
  cursor: pointer;
  font-weight: 600;
  margin-right: 8px;

  &:hover {
    color: color(blue);
  }
}

.form__controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px
}

.form__actions {
  border-right: 1px solid $black-80;
  display: flex;
  margin-right: 20px;
}

.form__alert-text {
  color: color(red);
  font-weight: 600;
}

.form__actions-icon {
  cursor: pointer;
  margin-right: 20px;

  .icon {
    color: $black-60;
    font-size: 20px;
  }

  &:hover,
  &.is-selected {
    .icon {
      color: color(blue);
    }
  }

  &.is-selected:hover {
    opacity: 0.5;
  }

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    .icon {
      color: $black-80;
    }
  }
}
