.form__frame {
  background: $black-95;
  display: flex;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

}

.form__layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 744px;
  padding: 16px 24px 0 24px;
  width: 100%;
}

.form__sidebar {
  display: flex;
  flex: initial;
  max-width: 400px;
  min-height: 0;
  width: 400px;

  &:empty {
    display: none;
  }
}

.form__iframe {
  background-color: $white;
  border: 1px solid $black-90;
  border-radius: 4px 4px 0 0;
  height: calc(100% - 16px);
  margin-top: 16px;
  padding: 8px;

  iframe {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.form__context-trail {
  color: $black-20;
  position: relative;

  .icon {
    color: $black-60;
    font-size: 12px;
    margin-right: 8px;
    vertical-align: -.0825em;
  }
}

.form__context-link {
  color: $black-60;
  cursor: pointer;
  font-weight: 600;
  margin-right: 8px;

  &:hover {
    color: color(blue);
  }
}

.form__actions {
  position: absolute;
  right: 0;
  top: 0;
}

.form__actions--button {
  cursor: pointer;

  .icon {
    color: $black-60;
    font-size: 20px;
  }

  &:hover,
  &.is-selected {
    .icon {
      color: color(blue);
    }
  }

  &.is-selected:hover {
    opacity: 0.5;
  }

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    .icon {
      color: $black-80;
    }
  }
}

.form__action-bar {
  background: $highlighted;
  color: $black-60;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.form__action-button {
  line-height: 16px;
  margin-left: auto;
}

.form__iframe--has-bar {
  height: calc(100% - 48px);
}

.form__response-droplist {
  .fa-history {
    margin-right: 4px;
  }
}
