.programs-list__published {
  color: $black;
  font-weight: 600;

  &.is-published {
    color: color(green);
  }

  .icon {
    margin-right: 4px;
  }
}

.programs-list__updated-ts {
  font-size: 12px;
}
