version: 2.1
orbs:
  cypress: cypress-io/cypress@1.27
  coveralls: coveralls/coveralls@1.0.6

executors:
  with-chrome-and-firefox:
    docker:
      - image: "cypress/browsers:node16.5.0-chrome94-ff93"

commands:
  font_awesome:
    steps:
      - run:
          name: Authenticate FontAwesome
          command: |
            npm config set "@fortawesome:registry" https://npm.fontawesome.com/
            npm config set "//npm.fontawesome.com/:_authToken" $FONTAWESOME
  disabled_coverage:
    steps:
      - run:
          name: Disable Coverage
          command: echo 'export CYPRESS_COVERAGE=false' >> $BASH_ENV

jobs:
  coveralls:
    executor: with-chrome-and-firefox
    steps:
      - attach_workspace:
          at: ~/
      - coveralls/upload:
          parallel_finished: true

workflows:
  test-build:
    jobs:
      - cypress/install:
          executor: with-chrome-and-firefox
          pre-steps:
            - font_awesome
      - cypress/run:
          executor: with-chrome-and-firefox
          requires:
            - cypress/install
          record: true
          parallel: true
          parallelism: 9
          group: 'care ops'
          start: 'npm start'
          post-steps:
            - run: npm run coverage:report:ci
            - coveralls/upload:
                parallel: true
      - coveralls:
          requires:
            - cypress/run

  test_cross_browser:
    triggers:
      - schedule:
          cron: "0 11 * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - cypress/install:
          executor: with-chrome-and-firefox
          pre-steps:
            - font_awesome
      - cypress/run:
          pre-steps:
            - disabled_coverage
          name: Chrome
          executor: with-chrome-and-firefox
          browser: chrome
          requires:
            - cypress/install
          record: true
          parallel: true
          parallelism: 2
          group: 'care ops chrome'
          start: 'npm start'
          config: retries=3
      - cypress/run:
          pre-steps:
            - disabled_coverage
          name: Firefox
          executor: with-chrome-and-firefox
          browser: firefox
          requires:
            - cypress/install
          record: true
          parallel: true
          parallelism: 2
          group: 'care ops firefox'
          start: 'npm start'
          config: retries=3
