.patient-sidebar__section {
  --widgets-first-heading-margin-top: 0;
  --widgets-heading-margin-top: var(--space-3);
  --widgets-item-gap: 0;

  flex: none;
  margin-top: var(--space-3);
  overflow: hidden;

  &:empty {
    display: none;
  }

  &:first-child {
    margin-top: 0;
  }
}
