  <div class="check-in__layout">
    <div data-context-trail-region></div>
    <div class="check-in__content" data-check-in-region></div>
  </div>
  <div class="check-in__sidebar" data-sidebar-region></div>
