<div class="error-page__contains">
  <div class="error-page__wrap">
    <div class="error-page__dialog">
      <div class="error-page__section">
        <svg class="svg needs-attention u-margin--b-ser" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
          <g></g>
          <path d="M14.983 6.713c0.562-0.951 1.472-0.951 2.034 0l12.738 17.565c0.562 0.951 0.123 1.722-0.982 1.722h-25.548c-1.104 0-1.544-0.771-0.982-1.722l12.738-17.565z" fill="#E65140" />
        </svg>

        <h2 class="error-page__heading">{{ @intl.globals.error.errorTemplate.errorHeader }}</h2>
      </div>
      <div class="error-page__section">
        <p>
          {{ @intl.globals.error.errorTemplate.errorMessage }}<br>
          {{ @intl.globals.error.errorTemplate.errorInfo }}
        </p>
        <a class="js-back button--light-blue large u-margin--t">{{ @intl.globals.error.errorTemplate.backBtn }}</a>
      </div>
    </div>
    <svg class="svg roundingwell-logo u-margin--t" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="116" height="21" viewBox="0 0 185 32">
      <g></g>
      <path d="M40.975 11.456c-1.339 0.082-2.624 0.683-3.499 1.995v8.501c0 0.547-0.465 1.011-1.039 1.011h-0.027c-0.547-0.027-0.984-0.465-0.984-1.011v-11.535c0-0.519 0.465-0.984 1.066-0.984 0.519 0 0.984 0.465 0.984 0.984v1.312c0.793-1.039 2.105-2.351 3.635-2.351 0.492 0 0.929 0.41 0.929 0.957 0 0.602-0.465 1.093-1.066 1.121z" fill="#cccccc" />
      <path d="M49.53 23.128c-4.018 0-6.533-3.116-6.533-6.943 0-3.827 2.515-6.916 6.533-6.916s6.533 3.089 6.533 6.916c0 3.826-2.514 6.943-6.533 6.943zM49.53 11.101c-2.815 0-4.401 2.406-4.401 5.084 0 2.706 1.585 5.111 4.401 5.111 2.815 0 4.373-2.406 4.373-5.111 0-2.679-1.558-5.084-4.373-5.084z" fill="#cccccc" />
      <path d="M68.636 22.964c-0.547 0-1.011-0.465-1.011-1.011v-1.011c-1.011 1.148-2.733 2.187-4.701 2.187-2.761 0-4.209-1.34-4.209-4.21v-8.501c0-0.519 0.465-0.984 1.066-0.984 0.519 0 0.984 0.465 0.984 0.984v7.872c0 2.323 1.175 3.007 2.952 3.007 1.613 0 3.143-0.929 3.909-1.995v-8.883c0-0.519 0.465-0.984 1.066-0.984 0.519 0 0.984 0.465 0.984 0.984v11.535c0 0.546-0.465 1.011-1.039 1.011z" fill="#cccccc" />
      <path d="M83.013 22.964c-0.547 0-1.011-0.465-1.011-1.011v-7.79c0-2.323-1.175-3.062-2.952-3.062-1.613 0-3.143 0.984-3.909 2.050v8.801c0 0.547-0.465 1.011-1.039 1.011-0.547 0-1.011-0.465-1.011-1.011v-11.535c0-0.519 0.465-0.984 1.066-0.984 0.519 0 0.984 0.465 0.984 0.984v1.093c0.929-1.093 2.733-2.242 4.701-2.242 2.761 0 4.21 1.394 4.21 4.264v8.419c-0 0.547-0.465 1.012-1.039 1.012z" fill="#cccccc" />
      <path d="M98.046 22.964c-0.547 0-1.011-0.465-1.011-1.011v-1.121c-0.984 1.34-2.597 2.296-4.455 2.296-3.444 0-5.877-2.624-5.877-6.915 0-4.21 2.405-6.943 5.877-6.943 1.777 0 3.389 0.875 4.455 2.324v-6.205c0-0.519 0.465-0.984 1.066-0.984 0.519 0 0.984 0.465 0.984 0.984v16.564c0 0.547-0.464 1.012-1.038 1.012zM97.035 13.233c-0.738-1.148-2.324-2.132-3.964-2.132-2.651 0-4.237 2.187-4.237 5.112 0 2.924 1.585 5.084 4.237 5.084 1.64 0 3.226-0.929 3.964-2.077v-5.986z" fill="#cccccc" />
      <path d="M103.512 22.964c-0.546 0-1.011-0.465-1.011-1.011v-11.535c0-0.519 0.465-0.984 1.066-0.984 0.52 0 0.984 0.465 0.984 0.984v11.535c0 0.547-0.465 1.012-1.039 1.012z" fill="#cccccc" />
      <path d="M117.89 22.964c-0.547 0-1.012-0.465-1.012-1.011v-7.79c0-2.323-1.175-3.062-2.952-3.062-1.613 0-3.143 0.984-3.909 2.050v8.801c0 0.547-0.464 1.011-1.038 1.011-0.547 0-1.011-0.465-1.011-1.011v-11.535c0-0.519 0.464-0.984 1.066-0.984 0.52 0 0.984 0.465 0.984 0.984v1.093c0.93-1.093 2.734-2.242 4.702-2.242 2.76 0 4.209 1.394 4.209 4.264v8.419c0 0.547-0.464 1.012-1.038 1.012z" fill="#cccccc" />
      <path d="M127.647 28.157c-1.941 0-3.499-0.355-4.947-1.585-0.191-0.164-0.301-0.41-0.301-0.684 0-0.465 0.41-0.875 0.902-0.875 0.218 0 0.41 0.055 0.574 0.191 1.039 0.929 2.214 1.257 3.772 1.257 2.187 0 4.237-1.066 4.237-3.964v-1.886c-0.957 1.34-2.57 2.351-4.428 2.351-3.444 0-5.876-2.569-5.876-6.833 0-4.237 2.405-6.861 5.876-6.861 1.777 0 3.362 0.875 4.428 2.324v-1.175c0-0.519 0.464-0.984 1.066-0.984 0.52 0 0.984 0.465 0.984 0.984v11.999c0 4.373-3.061 5.74-6.286 5.74zM131.884 13.233c-0.711-1.148-2.296-2.132-3.936-2.132-2.652 0-4.237 2.105-4.237 5.030 0 2.897 1.585 5.029 4.237 5.029 1.64 0 3.225-1.011 3.936-2.16v-5.767z" fill="#cccccc" />
      <path d="M155.309 11.237l-3.198 10.332c-0.246 0.82-1.039 1.394-1.886 1.394h-0.055c-0.875 0-1.64-0.574-1.886-1.394l-2.652-8.391-2.651 8.391c-0.246 0.82-1.039 1.394-1.913 1.394h-0.055c-0.848 0-1.613-0.574-1.859-1.394l-3.225-10.332c-0.027-0.137-0.055-0.273-0.055-0.41 0-0.684 0.574-1.394 1.449-1.394 0.629 0 1.23 0.41 1.394 1.011l2.515 8.665 2.788-8.528c0.219-0.683 0.848-1.148 1.64-1.148 0.711 0 1.34 0.465 1.585 1.148l2.788 8.528 2.514-8.665c0.164-0.601 0.766-1.011 1.395-1.011 0.847 0 1.449 0.656 1.449 1.394-0.001 0.137-0.028 0.273-0.083 0.41z" fill="#cccccc" />
      <path d="M168.073 17.141h-8.692c0.191 1.968 1.695 3.635 4.155 3.635 0.956 0 2.049-0.3 2.952-0.875 0.191-0.109 0.41-0.164 0.601-0.164 0.602 0 1.23 0.492 1.23 1.202 0 1.503-3.389 2.187-5.084 2.187-3.964 0-6.915-2.761-6.915-6.943 0-3.827 2.788-6.916 6.697-6.916 3.089 0 5.33 1.859 6.15 4.701 0.164 0.547 0.328 1.175 0.328 1.749 0 0.765-0.629 1.421-1.421 1.421zM163.017 11.62c-2.406 0-3.526 1.913-3.663 3.499h7.326c-0.055-1.53-1.094-3.499-3.663-3.499z" fill="#cccccc" />
      <path d="M173.129 22.964c-0.82 0-1.449-0.656-1.449-1.449v-15.689c0-0.765 0.629-1.421 1.503-1.421 0.766 0 1.422 0.656 1.422 1.421v15.689c-0 0.793-0.656 1.449-1.477 1.449z" fill="#cccccc" />
      <path d="M179.060 22.964c-0.82 0-1.449-0.656-1.449-1.449v-15.689c0-0.765 0.629-1.421 1.503-1.421 0.766 0 1.422 0.656 1.422 1.421v15.689c-0 0.793-0.656 1.449-1.477 1.449z" fill="#cccccc" />
      <path d="M28.781 14.834c-0.117-1.519-0.498-3.012-1.117-4.385-0.618-1.374-1.471-2.627-2.501-3.694-1.030-1.068-2.235-1.949-3.546-2.598-1.311-0.651-2.727-1.067-4.16-1.23-1.432-0.164-2.878-0.081-4.264 0.24-1.385 0.321-2.702 0.883-3.877 1.644-1.175 0.761-2.208 1.719-3.046 2.814-0.838 1.094-1.481 2.325-1.893 3.618-0.414 1.293-0.596 2.648-0.55 3.983l0.263 0.003c0.076-1.305 0.375-2.585 0.879-3.768 0.503-1.183 1.208-2.268 2.067-3.196 0.858-0.929 1.87-1.701 2.971-2.277 1.102-0.576 2.294-0.955 3.505-1.118 1.209-0.164 2.442-0.116 3.617 0.132 1.176 0.247 2.296 0.697 3.299 1.318 1.004 0.62 1.89 1.411 2.614 2.318 0.724 0.907 1.283 1.93 1.649 3.006 0.367 1.076 0.54 2.204 0.521 3.323-0.020 1.122-0.23 2.224-0.617 3.247-0.386 1.024-0.949 1.969-1.648 2.787-0.699 0.818-1.534 1.507-2.449 2.031-0.915 0.525-1.91 0.883-2.925 1.061-1.014 0.178-2.057 0.177-3.060 0.007-1.001-0.169-1.954-0.509-2.815-0.996-0.295-0.167-0.578-0.352-0.85-0.551l4.686-7.132-0.102-0.083-10.27 10.316 0.106 0.099c0.083 0.076 0.156 0.142 0.236 0.211 0.157 0.137 0.318 0.271 0.48 0.401 0.326 0.261 0.662 0.506 1.008 0.737 0.201 0.134 0.405 0.263 0.613 0.386 0.506 0.302 1.029 0.573 1.566 0.81 1.513 0.669 3.135 1.066 4.76 1.18 0.813 0.057 1.622 0.045 2.428-0.035 0.805-0.080 1.603-0.229 2.379-0.445 1.554-0.431 3.020-1.132 4.315-2.052 1.296-0.918 2.423-2.054 3.321-3.338 0.9-1.283 1.572-2.715 1.978-4.21 0.408-1.495 0.548-3.048 0.429-4.565z" fill="#cccccc" />
    </svg>
  </div>
</div>
