.dialog__wrapper {
  margin: 0 auto;
  max-width: 520px;
}

.site-title {
  color: $white;
  font-size: 24px;
  padding: 20px 24px;
  text-transform: uppercase;
}

.dialog {
  background: $white;
  border: 1px solid $black-90;
  border-radius: 4px;
  color: $black-20;
  font-size: 20px;
  line-height: 1.4;
  padding: 24px;
}

.dialog__icon {
  color: $black-20;
  margin: 0 auto 24px;

  .icon {
    font-size: 48px;
    width: 1em;
  }
}

.dialog__icon--success {
  @extend .dialog__icon;

  color: $success-color;
}

.dialog__icon--blue {
  @extend .dialog__icon;

  color: color(blue, dark);
}

.dialog__icon--warn {
  @extend .dialog__icon;

  color: $warning-color;
}

.dialog__icon--error {
  @extend .dialog__icon;

  color: $error-color;
}
