.opt-in__heading-text {
  font-size: 20px;
  margin-bottom: 32px;
}

.opt-in__field {
  margin-bottom: 16px;
}

.opt-in__field-label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.opt-in__field-input {
  color: $black-20;
  display: block;
  padding: 12px 16px;
  width: 100%;
}

.opt-in__disclaimer {
  font-size: 14px;
  margin-top: 32px;
}

.opt-in__submit {
  height: 40px;
  margin-top: 16px;
}
