.verify__heading-text {
  font-size: 20px;
  margin-bottom: 24px;
}

.verify__info-text {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
}

.verify__code-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  .verify__code-input {
    font-size: 32px;
    height: 80px;
    text-align: center;
    width: 56px;

    &.has-error {
      border: 1px solid $error-color;
    }
  }
}

.verify__error-text {
  color: $error-color;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
}

.verify__submit {
  height: 40px;
  margin-bottom: 40px;
}
