// -------------------------------------
// Alignment/Positioning
// -------------------------------------

.u-float--left { float: left !important; }
.u-float--right { float: right !important; }
.u-float--clear { clear: both !important; }

.u-v-align--middle { vertical-align: middle !important; }

// -------------------------------------
//   Fluid Width classes
// -------------------------------------
.w-7-5 { width: 7.5% !important; }
.w-10 { width: 10% !important; }
.w-15 { width: 15% !important; }
.w-20 { width: 20% !important; }
.w-25 { width: 25% !important; }
.w-30 { width: 30% !important; }
.w-40 { width: 40% !important; }
.w-50 { width: 50% !important; }
.w-60 { width: 60% !important; }
.w-70 { width: 70% !important; }
.w-75 { width: 75% !important; }
.w-80 { width: 80% !important; }
.w-100 { width: 100% !important; }

// -------------------------------------
//   Overflow
// -------------------------------------

.overflow-y { overflow-y: auto !important; }
.overflow-x { overflow-x: auto !important; }

.overflow--hidden { overflow: hidden !important; }
.overflow-y--hidden { overflow-y: hidden !important; }
.overflow-x--hidden { overflow-x: hidden !important; }


// -------------------------------------
//   Display properties
// -------------------------------------
.inl-bl { display: inline-block; }


// -------------------------------------
//   Positioning
// -------------------------------------
.pos--relative { position: relative; }
.pos--absolute { position: absolute; }
