::-webkit-scrollbar {
  appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 11px;
}

::-webkit-scrollbar:horizontal {
  height: 11px;
}

::-webkit-scrollbar-thumb {
  background-color: $black-60;

  // border should match background, can't be transparent
  border: 2px solid $black-98;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: $black-98;
  border-radius: 8px;
}
