// Margins/Padding
// -----------------------------------------------------------

// Aligns with small button text
.u-margin--t-4 { margin-top: 4px !important; }
.u-margin--t-8 { margin-top: 8px !important; }
.u-margin--t-16 { margin-top: 16px !important; }
.u-margin--t-24 { margin-top: 24px !important; }

.u-margin--r-4 { margin-right: 4px !important; }
.u-margin--r-8 { margin-right: 8px !important; }
.u-margin--r-16 { margin-right: 16px !important; }
.u-margin--r-24 { margin-right: 24px !important; }

.u-margin--b-4 { margin-bottom: 4px !important; }
.u-margin--b-8 { margin-bottom: 8px !important; }
.u-margin--b-16 { margin-bottom: 16px !important; }
.u-margin--b-24 { margin-bottom: 24px !important; }

.u-margin--l-4 { margin-left: 4px !important; }
.u-margin--l-8 { margin-left: 8px !important; }
.u-margin--l-16 { margin-left: 16px !important; }
.u-margin--l-24 { margin-left: 24px !important; }

