<div class="flex-grow">
  <div class="flex">
    <div class="flex-grow">
      <h3 class="programs-sidebar__heading">{{ @intl.admin.sidebar.program.programSidebarTemplate.headingText }}</h3>
    </div>
    <div>
      <button class="button--icon js-close">{{fas "times"}}</button>
    </div>
  </div>
  <div class="u-margin--t-16">
    <div data-name-region></div>
    <div class="u-margin--t-8" data-details-region></div>
    <div data-save-region></div>
    <div class="u-margin--t-16" data-state-region></div>
  </div>
</div>
<div data-timestamps-region></div>
