.programs-sidebar {
  border-left: 1px solid $black-90;
  max-width: 400px;
  overflow-y: auto;
  padding: 16px 24px;
}

.programs-sidebar__details {
  min-height: 58px;
}

.programs-sidebar__heading {
  font-weight: 600;
}

.programs-sidebar__published {
  color: $black;
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;

  &.is-published {
    color: color(green);
  }

  .icon {
    margin-right: 4px;
  }
}

.programs-sidebar__state-toggle {
  color: color(blue);
  float: right;
}

.programs-sidebar__label {
  color: $black-60;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin-right: 16px;
  vertical-align: middle;
  width: 80px;
}

.programs-sidebar__timestamps {
  border-top: 1px solid $black-90;
  font-size: 12px;
  font-weight: 600;
  margin-top: 16px;
  padding-top: 16px;
}
