@font-face {
  font-family: 'ProximaSoft';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ProximaSoft/3955CC_4_0.woff2') format('woff2'),
    url('/fonts/ProximaSoft/3955CC_4_0.woff') format('woff'),
    url('/fonts/ProximaSoft/3955CC_4_0.ttf') format('truetype');
}

.login-prompt__roundingwell-logo {
  margin-bottom: 56px;
}

.login-prompt {
  align-items: center;
  background-color: #1F2B33;
  display: flex;
  flex-direction: column;
  font-family: 'ProximaSoft', 'Droid Sans', 'helvetica neue', 'arial', sans-serif;
  font-size: 14px;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.login-prompt__content {
  background-color: #fff;
  border-radius: 4px;
  color: #333;
  min-width: 620px;
  padding: 44px 0;
  text-align: center;
}

.login-prompt__header {
  font-size: 28px;
  font-weight: 400;
  margin-top: 16px;
}

.login-prompt__host {
  font-size: 24px;
  font-weight: 400;
  margin: 42px 0 0;
}

.login-prompt__continue-button {
  background-color: #00bf68;
  border: 1px solid #00bf68;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-top: 48px;
  overflow: hidden;
  padding: 8px 44px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 0.15s;
  transition-timing-function: linear;
  vertical-align: middle;
  white-space: nowrap;
}

.login-prompt__continue-button:hover {
  background-color: #24de7f;
}

.login-prompt__continue-button:active,
.login-prompt__continue-button:focus {
  background-color: #138f51;
}

.login-prompt__continue-button .fa-sign-in-alt {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  margin-left: 4px;
  vertical-align: -4px;
}

.login-prompt__contact-info {
  color: #999;
  margin: 48px 0 0;
}

.login-prompt__contact-info a {
  color: #0582DA;
  text-decoration: none;
}
