{
    "extends": ["../../.eslintrc"],
    "overrides": [
        {
            "files": [ "**/*.cy.js"],
            "env": {
                "mocha": true
            },
            "globals": {
                "sinon": true,
                "spy": true,
                "expect": true,
                "cy": true,
                "Cypress": true
            },
            "plugins": ["eslint-plugin-mocha"],
            "rules": {
                "mocha/handle-done-callback": 2,
                "mocha/no-exclusive-tests": 1,
                "mocha/no-global-tests": 2,
                "mocha/no-hooks-for-single-case": 0,
                "mocha/no-identical-title": 2,
                "mocha/no-mocha-arrows": 2,
                "mocha/no-nested-tests": 2,
                "mocha/no-return-and-callback": 2,
                "mocha/no-sibling-hooks": 2,
                "no-console": 1,
                "no-debugger": 1
            }
        }
    ]
}
