<div class="patient-tabs">
  <span class="patient-tab--selected">
    {{~ @intl.patients.patient.dashboard.dashboardViews.dashboardBtn ~}}
  </span>
  <button class="patient-tab js-data-events">
    {{~ @intl.patients.patient.dashboard.dashboardViews.dataEventsBtn ~}}
  </button>
</div>
<div class="patient__actions">
  <button class="button-primary js-add">{{far "plus-circle"}}{{ @intl.patients.patient.dashboard.dashboardViews.addActionBtn }}</button>
</div>
<div class="flex-region" data-content-region></div>
