<div>
  <span class="patient__tab--selected">
    {{~ @intl.patients.patient.dashboard.dashboardViews.dashboardBtn ~}}
  </span>
  <button class="patient__tab js-data-events">
    {{~ @intl.patients.patient.dashboard.dashboardViews.dataEventsBtn ~}}
  </button>
</div>
<div class="patient__actions" data-add-workflow-region>
  <span class="button-primary">
    <span class="js-loading">{{far "plus-circle"}}{{ @intl.patients.patient.dashboard.dashboardViews.actionLoading }}</span>
  </span>
</div>
<div data-content-region></div>
