.workflows__tab--selected {
  color: color(blue);
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  margin-right: 4px;
  padding: 0 16px 16px;
  position: relative;

  &:before {
    background: color(blue);
    border-radius: 2px 2px 0 0;
    bottom: 0;
    content: ' ';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.workflows__actions {
  border-top: solid 1px $black-90;
  padding: 16px 0;
}

.workflows__list {
  border-top: solid 1px $black-90;
}

.workflows__content {
  min-width: 520px;
}

.workflows__empty-list {
  border-bottom: 1px solid $black-90;
  color: $black-80;
  font-size: 16px;
  font-weight: 600;
  margin: 40px auto 20px;
  padding: 20px;
  text-align: center;
}

.workflows__item-ts {
  float: right;
  font-size: 12px;
  margin: 8px 0 0 8px;
  min-width: 40px;
  vertical-align: middle;
}

.workflows__action-name,
.workflows__flow-name {
  display: table-cell;
  vertical-align: middle;
  white-space: normal;
}

.workflows__action-icon,
.workflows__flow-icon {
  display: table-cell;
  position: relative;
  vertical-align: middle;

  .icon {
    color: $black-60;
    font-size: 20px;
    margin-right: 16px;
    vertical-align: middle;
    width: 20px;
  }
}

.workflows__flow-status {
  border: 1px solid transparent;
  display: inline-block;
  padding: 0 8px;
  vertical-align: middle;
}

.workflows__action-icon .icon {
  color: color(blue);
}

.workflows-action--draft {
  color: $black-20;
  font-weight: bold;
}

.workflows-action--published {
  color: color(green);
  font-weight: bold;
}
