.date-filter {
  background-color: $white;
  box-shadow: 0 0 10px rgb(0 0 0 / 25%);
  position: absolute;
  user-select: none;
  width: 256px;
}

.date-filter__label {
  color: $black-60;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  white-space: nowrap;
}

.date-filter__toggle {
  border-bottom: 1px solid $black-90;
  padding: 0 16px 16px;
}

.date-filter__ranges {
  padding: 8px 0;
}
