.action-sidebar__name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  padding: 8px 0;
}

.action-sidebar__form {
  color: color(blue);
}

.action-sidebar__sharing-state {
  border: 1px solid #FFF;
  padding: 8px 16px;

  .icon {
    font-size: 16px;
    line-height: 16px;
    margin-right: 8px;
    position: relative;
    width: 16px;
  }
}

.action-sidebar__no-results {
  color: $black-80;
  font-size: 16px;
  font-weight: 600;
  margin: 20px auto 8px;
  text-align: center;
}

.action-sidebar__activity {
  .loader {
    margin-top: 100px;
  }
}

.action-sidebar__attachment-file {
  display: none;
}

.action-sidebar__attachment-filename {
  color: color(blue);
  font-weight: 600;
}

.action-sidebar__attachment-action {
  color: $black-60;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    color: color(blue);
  }

  .icon {
    font-size: 12px;
    vertical-align: -0.0825em;
  }
}

.action-sidebar__activity-item {
  line-height: 14px;
  margin-bottom: 8px;
}
