<textarea class="input-secondary textarea-flex__input js-input"{{#if isDisabled}} disabled{{/if}} placeholder="{{ @intl.patients.sidebar.action.actionDetailsTemplate.placeholder }}">{{ details }}</textarea>
<div class="textarea-flex__container input-secondary sidebar__details js-spacer">{{ details }} </div>
