// App Header

.app-header {
    @include clearfix();

    background-color: color(navy);
    font-size: 12px;
    user-select: none;
}

.app-header__title {
    color: $white;
    float: left;
    padding: 8px 15px;
}

.app-header__count-section {
    float: right;
    height: 16px;
    overflow: hidden;
}

.app-header__count {
    clear: right;
    display: block;
    float: right;
    height: 16px;
    margin: 0;
    transition: margin 0.3s linear 1s;

    &.is-hidden-top {
        margin-top: -17px;
    }

    &.is-hidden-bottom {
        margin-bottom: -17px;
    }
}

.app-header__button {
    @include clearfix();

    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    display: block;
    font-weight: $bold-font-weight;
    height: 30px;
    padding: 8px 10px;
    position: relative;
    transition: background-color 0.15s linear, color 0.15s linear;

    &:hover {
        background-color: #465A66;
        box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.25), inset -1px 0 0 rgba(0, 0, 0, 0.25);
        color: $white;
    }

    &:active,
    &.selected {
        background-color: color(navy, border);
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), inset 1px 0 0 rgba(0, 0, 0, 0.25), inset -1px 0 0 rgba(0, 0, 0, 0.25);
    }
}

.app-header__button--dropdown {
    @extend .app-header__button;

    padding-right: 30px;

    .font-icon-arrow-down {
        font-size: 16px;
        margin-top: -8px;
        position: absolute;
        right: 10px;
        top: 50%;
    }
}

.app-header__notification i {
    float: left;
    font-size: 16px;
    margin-right: 5px;
    margin-top: -1px;
}

.app-header-icon {
    // add an icon to the left
    &.app-header-icon {
        padding-left: 30px;
        position: relative;
        text-align: left;
    }

    &.app-header-icon--right {
        padding-right: 30px;
    }

    .app-header-icon__element {
        left: 10px;
        margin-top: -8px;
        position: absolute;
        top: 50%;
    }

    .app-header-icon__element--right {
        margin-top: -8px;
        position: absolute;
        right: 10px;
        top: 50%;
    }
}

