<div class="list-page__header">
  <div class="list-page__title"><span data-title-region></span><span data-tooltip-region></span></div>
  <div class="list-page__filters flex">
    <div class="flex u-margin--r-16" data-select-all-region></div>
    <div class="w-100" data-filters-region></div>
    <div class="flex u-margin--r-16 u-text--nowrap" data-date-filter-region></div>
  </div>
  <table class="w-100" data-table-region></table>
</div>
<div class="flex-region list-page__list" data-list-region></div>
