<div class="list-page__header">
  <div class="flex list-page__title">
    <div data-title-region></div>
    <div class="schedule__list-search" data-search-region></div>
  </div>
  <div class="list-page__filters flex">
    {{#unless isReduced}}
      <div class="flex u-margin--r-24" data-select-all-region></div>
    {{/unless}}
    <div class="flex flex-align-center w-100" data-filters-region></div>
    <div class="schedule__count{{#if isReduced}} is-reduced{{/if}}" data-count-region></div>
    <div class="flex u-text--nowrap" data-date-filter-region></div>
  </div>
  <table class="w-100" data-table-region></table>
</div>
<div class="flex-region list-page__list" data-list-region></div>
