.schedule__list-search {
  margin-left: auto;
}

.schedule__count {
  align-items: center;
  color: $black-60;
  display: flex;
  font-size: 12px;
  line-height: 1.2;
  margin-right: 24px;
  white-space: nowrap;

  &.is-reduced {
    min-height: 36px;
  }
}

.schedule-list__header {
  border-bottom: 1px solid $black-90;
  color: $black-60;
  font-size: 12px;
  padding: 8px;
}

.schedule-list__header-due-date {
  width: 24%;
}

.schedule-list__header-state-patient {
  width: 16%;
}

.schedule-list__header-action {
  width: calc(68% - 84px);
}

.schedule-list__header-form {
  padding-left: 32px;
  width: 84px;
}

.schedule-list__table {
  table-layout: fixed;
  width: 100%;
}

.schedule-list__list-row {
  border-bottom: 1px solid $black-90;
}

.schedule-list__list-cell {
  display: flex;
  padding: 8px 0;
}

.schedule-list__row-header {
  white-space: nowrap;
  width: 12%;
}

.schedule-list__date {
  border-radius: 20px;
  display: inline-block;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  margin-right: 4px;
  text-align: center;
  width: 40px;

  &.is-today {
    background: color(blue);
    color: $white;
  }
}

.schedule-list__month-day {
  color: $black-60;
}

.schedule-list__day-list {
  align-items: center;
  display: flex;
  padding: 8px 0;
  width: 88%;
}

.schedule-list__day-list-table {
  table-layout: fixed;
}

.schedule-list__day-list-row {
  cursor: pointer;

  &.is-selected {
    background: $greyed;
  }

  &.is-reduced {
    cursor: default;
  }

  &:hover {
    .js-patient-sidebar-button {
      color: $black-20;
    }
  }

  &:hover:not(.is-selected, .is-reduced) {
    background-color: color(light_blue, light);
  }
}

.schedule-list__action-list-cell {
  padding: 4px 8px;

  &.is-overdue {
    color: color(red);
  }
}

.schedule-list__due-time {
  width: 14%;
}

.schedule-list__patient {
  width: 18%;
}

.schedule-list__action-details {
  color: #999;
  padding: 0 16px 0 0;
  text-align: center;
  width: 32px;
}

.schedule-list__action-form {
  padding: 0;
  width: 48px;
}

.schedule-list__patient-details,
.schedule-list__action-state-name {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.schedule-list__patient-sidebar-icon {
  margin-right: 16px;

  .js-patient-sidebar-button {
    color: $black-60;
  }
}

.schedule-list__action-state {
  margin-right: 16px;
}

.schedule-list__no-time {
  color: $black-60;
}

.action-tooltip__flow {
  font-size: 12px;
}

.action-tooltip__flow-icon {
  color: $black-60;
  line-height: 16px;
  padding-right: 8px;
  vertical-align: text-bottom;

  .icon {
    font-size: 12px;
    line-height: 12px;
  }
}

.action-tooltip__action-icon {
  color: $black-60;
  display: table-cell;
  padding-right: 8px;
  text-align: center;
  width: 16px;
}

.action-tooltip__action-name {
  display: table-cell;
}

.action-tooltip__action-details {
  font-size: 12px;
  margin: 8px 0 0 20px;
}

.schedule-list__patient-name,
.schedule-list__action-form-icon {
  cursor: pointer;

  &.is-reduced {
    cursor: default;
  }

  &:hover:not(.is-reduced) {
    color: color(blue);
  }
}

.schedule-list__search-helper {
  display: none;
}
