.program__frame {
  display: flex;
  flex: 1;
}

.program__layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 744px;
  padding-left: 24px;
  width: 100%;
}

.program__sidebar {
  display: flex;
  flex: initial;
  max-width: 400px;
  min-height: 0;
  min-width: 256px;
}

.program__context-trail {
  background: $white;
  color: $black-20;
  line-height: 1;
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 1;

  .icon {
    color: $black-60;
    font-size: 12px;
    margin-right: 8px;
    vertical-align: -.0825em;
  }
}

.program__context-link {
  color: $black-60;
  cursor: pointer;
  font-weight: 600;
  margin-right: 8px;

  &:hover {
    color: color(blue);
  }
}
