<textarea class="input-primary textarea-flex__input js-input"{{#if isNew}} placeholder="{{ @intl.admin.sidebar.action.actionNameTemplate.placeholder }}"{{/if}}>{{ name }}</textarea>
<div class="textarea-flex__container input-primary js-spacer">{{ name }} </div>
