<textarea class="input-secondary textarea-flex__input js-input" placeholder="{{ @intl.admin.sidebar.action.actionDetailsTemplate.placeholder }}">{{ details }}</textarea>
<div class="textarea-flex__container input-secondary program-action-sidebar__details js-spacer">{{ details }} </div>
