.comment__form, .comment__item {
  padding-left: 40px;
  position: relative;
}
.comment__author-label {
  background: $black-90;
  border-radius: 16px;
  color: $black-20;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 32px;
  left: 0;
  line-height: 32px;
  margin-right: 8px;
  min-width: 32px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 32px;
}
.comment__title {
  font-size: 14px;
  .comment__author-name {
    color: $black-20;
    font-weight: 600;
  }
  .comment__timestamp {
    color: $black-60;
    font-size: 12px;
    margin-left: 4px;
  }
}
.comment__message {
  white-space: pre-wrap;
}
