// NOTE: ?
.form-control:disabled, .form-control[readonly] {
  background-color: inherit;
  border: none !important;
}

// NOTE: Fixed in upcoming release https://github.com/formio/formio.js/issues/2471
.formio-component-textarea div.formio-editor-read-only-content[ref='input'] {
  white-space: pre-wrap;
}

// NOTE: Don't show buttons on form response views
.formio-read-only .btn.disabled, .formio-read-only .btn:disabled {
  display:none;
}

// NOTE ?
.formio-button-remove-row, .formio-button-remove-row:hover  {
  background-color: inherit;
  border: none;
  color: $error-color;
  padding: 0;
  i {
    font-size: 18px;
  }
}

// NOTE: https://github.com/formio/formio.js/issues/2325
.formio-component-modal-wrapper .control-label, .formio-component-modal-wrapper br {
  display:none;
}
.formio-component-modal-wrapper .component-rendering-hidden {
  visibility: hidden;
}

// NOTE: Hide all form success notifications as we redirect
#root .alert-success {
  display:none;
}

// NOTE: submission is handled outside of the form iframe
.btn-wizard-nav-submit, .btn-wizard-nav-cancel, .formio-component-submit {
  display: none;
}

// NOTE: https://github.com/formio/formio.js/issues/3986
.datagrid-table {
  table-layout: auto !important;
}
