.print-body {
  background-color: $white;
}
.print-header {
  display: block !important;
  padding-bottom: 48px;
}

@media screen {
  .envelope_mailing_address {
    display: none;
  }
}
@media print {
  .envelope_mailing_address {
    display: block;
    margin: 272px 88px;
    page-break-before: always;
  }
  .form-control {
    border:none !important;
  }
  .page-new-page {
    page-break-before: always;
  }
  @page {
    margin: 0;
    padding: 80px;
    size: auto;
  }
}
