<div class="flex-grow">
  <div class="flex">
    <div class="flex-grow">
      <span class="worklist-patient-sidebar__user-icon">{{far "address-card"}}</span>
    </div>
    <div class="worklist-patient-sidebar__close-icon">
      <button class="button--icon js-close">{{fas "times"}}</button>
    </div>
  </div>
  <div class="worklist-patient-sidebar__patient-info">
    <div class="worklist-patient-sidebar__patient-name">{{ first_name }} {{ last_name }}</div>
    <div>
      <button class="button--link js-patient">View Patient Dashboard</button>
    </div>
  </div>
  <div data-widgets-region></div>
</div>
