<div class="flex-grow">
  <div class="flex">
    <div class="flex-grow">
      <span>{{far "address-card"}}</span>
    </div>
    <div>
      <button class="button--icon js-close">{{fas "times"}}</button>
    </div>
  </div>
  <div class="patient-sidebar__patient-info">
    <div class="name">{{ firstName }} {{ lastName }}</div>
    <div class="dashboard-link">
      <span class="js-patient">View Patient Dashboard</span>
    </div>
  </div>
  <div data-widgets-region></div>
</div>
