.worklist-patient-sidebar__user-icon,
.worklist-patient-sidebar__close-icon {
  .icon {
    font-size: 20px;
  }
}

.worklist-patient-sidebar__patient-info {
  border-bottom: 1px solid $black-90;
  cursor: pointer;
  padding: 16px 0;
}

.worklist-patient-sidebar__patient-name {
  font-size: 24px;
  margin-bottom: 8px;
}

.worklist-patient-sidebar__widgets {
  .spinner {
    margin-top: 60px;
  }
}
