$menu-bkg-color: #1F2B33;

.app-frame {
  display: flex;
  height: 100vh;
  min-width: 1000px;
  overflow: hidden;
}

.app-frame__nav {
  background-color: $menu-bkg-color;
  height: 100vh;
  min-height: 0;
  min-width: 200px;
  user-select: none;
  width: 200px;
}

.app-frame__content {
  min-width: 440px;
}

.app-frame__sidebar {
  height: 100vh;
  max-width: 400px;
  min-height: 0;
  min-width: 360px;
  width: 400px;

  &:empty {
    display: none;
  }
}
