.app-frame {
  display: flex;
  height: 100%;
  min-width: 1200px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.app-frame__nav {
  background-color: $bkg-color;
  height: 100%;
  min-height: 0;
  user-select: none;

  &.is-hidden {
    display: none;
  }
}

@keyframes reveal-content {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.app-frame__content {
  min-width: 440px;
  opacity: 0;
  overflow-y: auto;

  &:not(:empty) {
    animation: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s reveal-content forwards;
    background-color: $white;
  }
}

.app-frame__sidebar {
  background: $white;
  height: 100%;
  min-height: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  &:empty {
    display: none;
  }
}

.app-frame__pop-region {
  background-color: $white;
  box-shadow: 0 0 10px rgb(0 0 0 / 25%);
  position: absolute;
}
