<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RoundingWell</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0582da">
    <meta name="msapplication-TileColor" content="#0582da">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <div style="display:none">{{{ htmlWebpackPlugin.options.faIconSymbols }}}</div>
    <div id="root" class="app-root"></div>
  </body>
</html>
