// NOTE: Not using sass to prevent overriding form.io with base sass reset :-/

@font-face {
  font-family: 'ProximaSoft';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ProximaSoft/3955CC_4_0.woff2') format('woff2'),
    url('/fonts/ProximaSoft/3955CC_4_0.woff') format('woff'),
    url('/fonts/ProximaSoft/3955CC_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaSoft';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/ProximaSoft/3955CC_1_0.woff2') format('woff2'),
    url('/fonts/ProximaSoft/3955CC_1_0.woff') format('woff'),
    url('/fonts/ProximaSoft/3955CC_1_0.ttf') format('truetype');
}

body {
  margin: 0;
}

.prelogin * {
  border: 0;
  box-sizing: border-box;
}

@keyframes reveal-preloader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.prelogin {
  align-items: center;
  animation: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s reveal-preloader forwards;
  box-sizing: border-box;
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: 'ProximaSoft', 'Droid Sans', 'helvetica neue', 'arial', sans-serif;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  justify-content: top;
  line-height: 20px;
  margin: 0;
  opacity: 0;
  vertical-align: baseline;
  width: 100%;
}

.prelogin__roundingwell-logo {
  margin: 56px 0;
}

.prelogin__content {
  background-color: #FFF;
  border-radius: 4px;
  color: #333;
  line-height: 2.6em;
  min-height: 380px;
  padding: 48px 0;
  text-align: center;
  width: 620px;
}

.prelogin__header {
  font-size: 28px;
  font-weight: 400;
  margin: 16px 0;
}

.prelogin__host {
  font-size: 24px;
  font-weight: 400;
  margin-top: 40px;
}

.prelogin__continue-button {
  background-color: #00BF68;
  border: 1px solid #00BF68;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'ProximaSoft', 'Droid Sans', 'helvetica neue', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-top: 48px;
  overflow: hidden;
  padding: 8px 48px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 0.15s;
  transition-timing-function: linear;
  vertical-align: middle;
  white-space: nowrap;
}

.prelogin__continue-button:hover {
  background-color: #24DE7F;
}

.prelogin__continue-button:active,
.prelogin__continue-button:focus {
  background-color: #138F51;
}


.prelogin__continue-button .fa-right-to-bracket {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  margin-left: 4px;
  vertical-align: -4px;
}

.prelogin__contact-info {
  color: #999;
  margin-top: 40px;
}

.prelogin__contact-info a {
  color: #0582DA;
  text-decoration: none;
}

.prelogin__message-header {
  color: #FF8000;
  margin-bottom: 32px;
}
.prelogin__message-header .icon{
  font-size: 32px;
}

.prelogin__message {
  color: #333;
  font-size: 28px;
  line-height: 40px;
  padding: 16px 80px;
  text-align: center;
}
