// NOTE: Not using sass to prevent overriding form.io with base sass reset :-/

@font-face {
  font-family: ProximaSoft;
  font-style: normal;
  font-weight: normal;
  src:
    url('/fonts/ProximaSoft/3955CC_4_0.woff2') format('woff2'),
    url('/fonts/ProximaSoft/3955CC_4_0.woff') format('woff'),
    url('/fonts/ProximaSoft/3955CC_4_0.ttf') format('truetype');
}

@font-face {
  font-family: ProximaSoft;
  font-style: normal;
  font-weight: bold;
  src:
    url('/fonts/ProximaSoft/3955CC_1_0.woff2') format('woff2'),
    url('/fonts/ProximaSoft/3955CC_1_0.woff') format('woff'),
    url('/fonts/ProximaSoft/3955CC_1_0.ttf') format('truetype');
}

body {
  margin: 0;
}

.prelogin * {
  border: 0;
  box-sizing: border-box;
}

@keyframes reveal-preloader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.prelogin {
  align-items: center;
  animation: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s reveal-preloader forwards;
  box-sizing: border-box;
  color: $black-20;
  display: flex;
  flex-direction: column;
  font-family: ProximaSoft, 'Droid Sans', 'helvetica neue', arial, sans-serif;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  justify-content: top;
  line-height: 20px;
  margin: 0;
  opacity: 0;
  vertical-align: baseline;
  width: 100%;
}

.prelogin__roundingwell-logo {
  margin: 56px 0;
}

.prelogin__content {
  background-color: $white;
  border-radius: 4px;
  color: $black-20;
  line-height: 2.6em;
  min-height: 380px;
  padding: 48px 0;
  text-align: center;
  width: 620px;
}

.prelogin__header {
  font-size: 28px;
  font-weight: 400;
  margin: 16px 0;
}

.prelogin__host {
  font-size: 24px;
  font-weight: 400;
  margin-top: 40px;
}

.prelogin__continue-button {
  background-color: color(green);
  border: 1px solid color(green);
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: ProximaSoft, 'Droid Sans', 'helvetica neue', arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-top: 48px;
  overflow: hidden;
  padding: 8px 48px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 0.15s;
  transition-timing-function: linear;
  vertical-align: middle;
  white-space: nowrap;

  &:hover:enabled {
    background-color: color(green, light);
  }

  &:active:enabled,
  &:focus {
    background-color: color(green, dark);
  }

  .fa-right-to-bracket {
    display: inline-block;
    font-size: 20px;
    height: 1em;
    margin-left: 4px;
    vertical-align: -4px;
  }
}

.prelogin__contact-info {
  color: $black-60;
  margin-top: 40px;

  a {
    color: color(blue);
    text-decoration: none;
  }
}

.prelogin__message-header {
  color: color(orange);
  margin-bottom: 32px;

  .icon {
    font-size: 32px;
  }
}

.prelogin__message {
  color: $black-20;
  font-size: 28px;
  line-height: 40px;
  padding: 16px 80px;
  text-align: center;
}
