.add-workflow__add-new {
  font-style: italic;
}

.add-workflow__picklist {
  .icon {
    color: color(blue);
  }

  .is-highlighted .icon {
    color: $white;
  }
}

.add-workflow__no-results .icon {
  color: $black-60;
}
