<div class="patient-sidebar__heading">{{ @intl.patients.patient.sidebar.patientSidebarGroupsTemplate.groupsLabel }}</div>
<div class="patient-sidebar__item">
  {{#each groups}}
  <div>{{ this.name }}</div>
  {{/each}}
</div>
