.patient-sidebar {
  padding: 40px $pad-large 0;
}

.patient-sidebar__name {
  font-size: 24px;
}

.patient-sidebar__section {
  flex: none;
  margin-top: $pad;
  max-width: 256px;
  overflow: hidden;

  &:not(:first-of-type):before {
    border-top: 1px solid $black-90;
    content: '';
    display: block;
    height: 0;
    margin-bottom: $pad;
  }

  &:last-of-type {
    padding-bottom: $pad-large;
  }
}

.patient-sidebar__heading {
  color: $black-60;
  font-size: 12px;
  margin-top: $pad-small;

  &:first-child {
    margin-top: 0;
  }
}

.patient-sidebar__item:empty:before {
  // &ndash;
  content: '–';
}

.patient-sidebar__item + .patient-sidebar__item {
  margin-top: $pad-smaller;
}
