.clinician-sidebar__groups {
  border-radius: 4px;
  overflow: hidden;

  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.clinician-sidebar__locked-icon {
  color: $black-60;
  line-height: 24px;
  position: absolute;
  right: 16px;
  top: 8px;
}
