.list-search__container {
  position: relative;

  &.is-applied {
    .icon {
      color: $white;
    }
  }
}

.list-search__search-icon {
  left: 16px;
  line-height: 24px;
  position: absolute;
}

.list-search__clear-icon {
  color: $black-60;
  cursor: pointer;
  line-height: 24px;
  position: absolute;
  right: 8px;

  &.is-hidden {
    display: none;
  }
}

.list-search__input {
  border-radius: 18px;
  line-height: 24px;
  padding: 4px 32px 4px 40px;

  .is-applied & {
    background-color: color(blue);
    border: 1px solid color(blue);
    color: $white;
  }

  &::placeholder {
    color: $black-20;
  }
}
