.widgets__status-inactive {
  color: $error-color;
}

.widgets__status-archived {
  color: $black-60;
}

.widgets__form-widget {
  align-items: center;
  display: flex;
  min-width: 0;
  padding-right: 8px;
  width: 100%;

  .widgets__form-widget-expand-icon {
    margin-left: auto;
    padding-left: 8px;

    .icon {
      font-size: 12px;
      vertical-align: -0.125em;
    }
  }
}

.widgets__divider {
  border-top: 1px solid $black-90;
  content: '';
  display: block;
  height: 0;
}

.widgets__heading {
  color: $black-60;
  font-size: 12px;
}
