<td class="table-list__cell w-40">
  <span class="workflows__action-icon">{{far "file-alt"}}</span>{{ name }}
  {{~#unless name}}<em>{{ @intl.admin.program.workflows.actionItemTemplate.newProgramAction }}</em>{{/unless~}}
</td>
<td class="table-list__cell w-60">
  <span class="table-list__meta" data-published-region></span>
  <span class="workflows__action-ts">{{formatMoment updated_at "TIME_OR_DAY"}}</span>
</td>
