<td class="table-list__cell w-40">
  <span class="workflows__flow-icon">{{fas "folder"}}</span>{{ name }}
  {{~#unless name}}<em>{{ @intl.admin.program.workflows.flowItemTemplate.newProgramFlow }}</em>{{/unless~}}
</td>
<td class="table-list__cell w-60">
  <span class="table-list__meta" data-published-region></span>
  <span class="table-list__meta" data-owner-region></span>
  <span class="table-list__meta" data-due-region></span>
  <span class="workflows__item-ts">{{formatMoment updated_at "TIME_OR_DAY"}}</span>
</td>
