<div>
  <span class="workflows__tab--selected">
    {{~ @intl.admin.program.workflows.layoutTemplate.workflowsLabel ~}}
  </span>
</div>
<div class="workflows__actions" data-add-region></div>
<div data-content-region></div>
