@keyframes reveal-modal {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(30%);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
}

@keyframes progress-loader {
  0% {
    transform: translate3d(0, 0, 0);
  }

  5% {
    width: 100px;
  }

  10% {
    transform: translate3d(192px, 0, 0);
    width: 64px;
  }

  15% {
    width: 100px;
  }

  20% {
    transform: translate3d(0, 0, 0);
    width: 64px;
  }

  25% {
    width: 100px;
  }

  30% {
    transform: translate3d(200px, 0, 0);
    width: 64px;
  }

  35% {
    width: 100px;
  }

  40% {
    transform: translate3d(0, 0, 0);
    width: 64px;
  }

  95% {
    width: 256px;
  }

  100% {
    width: 256px;
  }
}

.loading-modal__content {
  background-color: $white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  min-height: 262px;
  text-align: center;
  width: 524px;

  &.is-animated {
    animation: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s reveal-modal forwards;
    opacity: 0;
  }
}

.loading-modal__bar {
  background: $black-90;
  border-radius: 8px;
  height: 16px;
  margin: 32px auto 0;
  width: 256px;
}

.loading-modal__bar-progress {
  animation: 4s ease-in-out 0.5s progress-loader forwards;
  background: color(green);
  border-radius: 8px;
  height: 16px;
  transform: translate3d(0, 0, 0) scale(1);
  width: 64px;
}
