<div class="loading-modal__content is-animated">
  <div>{{ @intl.globals.modal.loading.loadingModal.headerText }}</div>
  <div class="loading-modal__bar">
    <div class="loading-modal__bar-progress"></div>
  </div>
</div>
