<div class="list-page__header">
  <div class="flex list-page__title">
    <div data-title-region></div>
    <div class="worklist-list__toggle" data-toggle-region></div>
  </div>
  <div class="list-page__filters flex">
    <div class="worklist-list__select-all" data-select-all-region></div>
    <div class="worklist-list__filter-region" data-filters-region></div>
    <div class="flex">
      <span class="u-margin--r-16 u-text--nowrap" data-date-filter-region></span>
      <span class="worklist-list__filter-sort" data-sort-region></span>
    </div>
  </div>
  <table class="worklist__header w-100 js-list-header" data-table-region></table>
</div>
<div class="flex-region list-page__list js-list" data-list-region></div>
