<div class="list-page__header">
  <div class="list-page__title">{{formatMessage (intlGet "patients.worklist.layoutTemplate.listTitles") title=worklistId role=role}}<span data-tooltip-region></span></div>
  <div class="list-page__filters flex">
    <div class="worklist-list__filter-region" data-filters-region></div>
    <div class="worklist-list__filter-sort" data-sort-region></div>
  </div>
  <table class="worklist__header w-100 js-list-header" data-table-region></table>
</div>
<div class="flex-region list-page__list js-list" data-list-region></div>
