.worklist-list__patient-name:hover {
  color: color(blue);
}

.worklist-list__name-icon {
  position: relative;
  top: -1px;
  vertical-align: 1px;

  .icon {
    color: color(blue);
    font-size: 20px;
    margin-right: 16px;
    vertical-align: middle;
  }
}

.worklist-list__action-ts {
  font-size: 12px;
  vertical-align: middle;
}
