.worklist__type-toggle {
  margin-left: auto;
}

.worklist__header {
  table-layout: fixed;
}

.worklist-list__patient-sidebar-icon {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

.worklist-list__patient-name {
  display: table-cell;
  padding-left: 8px;
  vertical-align: middle;
  white-space: normal;
}

.worklist-list__patient-name:hover {
  color: color(blue);
}

.worklist-list__details {
  color: #999;
  display: inline-block;
  margin-right: 16px;
  vertical-align: middle;
  width: 16px;
}

.work-list__item:hover {
  .fa-square {
    color: $black-20;
  }
}

.worklist-list__action-icon,
.worklist-list__flow-icon {
  display: table-cell;
  position: relative;
  vertical-align: middle;

  .icon {
    color: color(blue);
    font-size: 20px;
    margin-right: 16px;
    vertical-align: middle;
    width: 20px;
  }
}

.worklist-list__flow-icon .icon {
  color: $black-60;
}

.worklist-list__action-ts {
  font-size: 12px;
  vertical-align: middle;
}

.worklist-list__flow-name {
  color: $black-60;
  font-size: 12px;
}

.worklist-list__name {
  display: table-cell;
  vertical-align: middle;
  white-space: normal;
}

.worklist-list__item-name,
.worklist-list__name-header {
  width: 27%;
}

.worklist-list__meta {
  text-overflow: inherit;
  width: 43%;
}

.worklist-list__meta-header {
  padding-left: 48px;
  width: 43%;
}

.worklist-list__filter-region {
  width: 100%;
}

.worklist-list__filter-sort .fa-arrow-down-arrow-up {
  margin-right: 8px;
}

.worklist-list__toggle {
  margin-left: auto;
  margin-right: 16px;
}

.worklist-list__flow-progress {
  width: 72px;
}

.worklist-list__filters {
  align-items: center;
  display: flex;
}

.worklist-list__all-filters:not(:empty) {
  margin-right: 24px;
}

.worklist-list__filter:not(:empty) {
  margin-right: 8px;
}

.worklist-list__flow-status {
  border: 1px solid transparent;
  display: inline-block;
  padding: 0 8px;
  vertical-align: middle;
}

.worklist-list__search-helper {
  display: none;
}
