.worklist-list__patient-name:hover {
  color: color(blue);
}

.worklist-list__name-icon {
  display: table-cell;
  position: relative;
  vertical-align: middle;

  .icon {
    color: color(blue);
    font-size: 20px;
    margin-right: 16px;
    vertical-align: middle;
    width: 20px;
  }
}

.worklist-list__action-ts {
  font-size: 12px;
  vertical-align: middle;
}

.worklist-list__filter {
  margin-left: auto;

  .fa-sort-alt { // not right
    height: 12px;
    margin-right: 8px;
  }
}

.worklist-list__flow-name {
  color: $black-60;
  font-size: 12px;
}

.worklist-list__name {
  display: table-cell;
  vertical-align: middle;
  white-space: normal;
}
