.worklist__header {
  table-layout: fixed;
}

.worklist-list__patient-name:hover {
  color: color(blue);
}

.worklist-list__item-check {
  padding: 16px 0;
  width: 16px;
}

.work-list__item:hover {
  .fa-square {
    color: $black-20;
  }
}

.worklist-list__action-icon,
.worklist-list__flow-icon {
  display: table-cell;
  position: relative;
  vertical-align: middle;

  .icon {
    color: color(blue);
    font-size: 20px;
    margin-right: 16px;
    vertical-align: middle;
    width: 20px;
  }
}

.worklist-list__flow-icon .icon {
  color: $black-60;
}

.worklist-list__action-ts {
  font-size: 12px;
  vertical-align: middle;
}

.worklist-list__flow-name {
  color: $black-60;
  font-size: 12px;
}

.worklist-list__name {
  display: table-cell;
  vertical-align: middle;
  white-space: normal;
}

.worklist-list__meta {
  text-overflow: inherit;
}

.worklist-list__filter-region {
  width: 100%;
}

.worklist-list__filter-sort .fa-sort-alt {
  margin-right: 8px;
}

.worklist-list__toggle {
  margin-left: auto;
  margin-right: 16px;
}

.worklist-list__toggle-actions {
  border-radius: 4px 0 0 4px;
  font-size: 12px;
}

.worklist-list__toggle-flows {
  border-radius: 0 4px 4px 0;
  font-size: 12px;
}

.worklist-list__flow-progress {
  width: 72px;
}

.worklist-list__filters {
  display: flex;
}

.worklist-list__filter:not(:empty) {
  margin-right: 16px;
}

.worklist-list__select-all {
  line-height: 32px;
  margin-right: 16px;
}

.worklist-list__flow-status {
  border: 1px solid transparent;
  display: inline-block;
  padding: 0 8px;
  vertical-align: middle;
}

