@page{ 
	size: auto;  margin: 0mm;
  @bottom-right {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: "Our Cats";
    font-size: 9pt;
    color: #333;
  }
}

.body {
	padding: 40px;
}
.btn {
	display: none;
}
.form-control {
	border:none !important;
}
.printBody {
  background-color: #fff;
}
.printHeader {
  display: block;
}
.bg-light {
  background-color: #fff !important;
}
.btn:disabled {
  opacity: .5;
}
.card {
  border: none;
}