.dashboard__frame {
  display: flex;
  height: 100%;
  overflow: auto;
}

.dashboard__layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 744px;
  padding: 16px 24px 0;
  width: 100%;
}


.dashboard__context-trail {
  color: $black-20;
  line-height: 1;
  padding: 16px 0;
  z-index: 1;

  .icon {
    color: $black-60;
    font-size: 12px;
    margin-right: 8px;
    vertical-align: -0.0825em;
  }
}

.dashboard__context-link {
  color: $black-60;
  cursor: pointer;
  font-weight: 600;
  margin-right: 8px;

  &:hover {
    color: color(blue);
  }
}

.dashboard__iframe {
  height: calc(100% - 32px);
  justify-content: center;
  margin-top: 16px;

  iframe {
    display: block;
    height: 100%;
    width: 100%;
  }
}
