.clinician-sidebar__workspaces {
  border-radius: 4px;
  overflow: hidden;

  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.clinician-sidebar__locked-icon {
  color: $black-60;
  line-height: 24px;
  position: absolute;
  right: 16px;
  top: 8px;
}

.clinician-sidebar__worklist {
  border-top: 1px solid $black-90;
  padding-top: 16px;
}

.clinician-sidebar__worklist-info {
  color: $black-60;
  font-size: 14px;
  margin-top: 12px;
}
