.owner-component__team {
  color: $black-60;
  font-size: 12px;
  margin-left: 4px;
}

.is-highlighted .owner-component__team {
  color: $white;
}

.owner-component--compact {
  max-width: 80px;
  width: 80px;
}
