.time-component {
  border-left: 1px solid transparent;
  border-radius: 0 4px 4px 0;
  padding-left: 8px;

  &:hover {
    border-left: 1px solid $black-90;
  }

  &.is-overdue {
    color: color(red);
  }
}
