<h1 class="patient-flow__name">{{fas "folder-open"}} {{ name }}</h1>
<div>
  <p class="patient-flow__details">{{ details }}</p>{{~ remove_whitespace ~}}
  <span class="patient-flow__meta" data-state-region></span>
  <span class="patient-flow__meta" data-owner-region></span>
</div>
