<h1 class="patient-flow__name">{{fas "folder-open"}} {{ name }}</h1>
<table class="table-list">
  <td class="patient-flow__details">{{ details }}</td>{{~ remove_whitespace ~}}
  <td class="patient-flow__meta">
    <span class="table-list__meta" data-state-region></span>
    <span class="table-list__meta" data-owner-region></span>
  </td>
</table>
