.patient-flow__frame {
  display: flex;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.patient-flow__layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 744px;
  padding: 0 24px;
  width: 100%;
}

.patient-flow__sidebar {
  display: flex;
  flex: initial;
  max-width: 400px;
  min-height: 0;
  min-width: 256px;
}

.patient-flow__context-trail {
  background: $white;
  color: $black-20;
  line-height: 1;
  padding: 16px 0 8px 0;
  position: sticky;
  top: 0;
  z-index: 1;

  .icon {
    color: $black-60;
    font-size: 12px;
    margin-right: 8px;
    vertical-align: -.0825em;
  }
}

.patient-flow__context-link {
  color: $black-60;
  cursor: pointer;
  font-weight: 600;
  margin-right: 8px;

  &:hover {
    color: color(blue);
  }
}

.patient-flow__header {
  cursor: pointer;
  padding: 8px 0 16px 0;

  &:hover:not(.is-selected) {
    background-color: color(light_blue, light);
  }

  &.is-selected {
    background-color: $greyed;
  }
}

.patient-flow__name {
  font-size: 24px;
  margin-bottom: 16px;

  .icon {
    color: $black-60;
    font-size: 20px;
    margin-right: 8px;
    vertical-align: bottom;
  }
}

.patient-flow__details {
  color: $black-60;
  display: inline-block;
  font-size: 14px;
  padding-right: 24px;
  vertical-align: top;
}

.patient-flow__meta {
  padding-left: 16px;
  width: 475px;
}

.patient-flow__actions {
  border-top: $black-90 1px solid;
  padding: 8px 0;
}

.patient-flow__list {
  border-top: $black-90 1px solid;
}

.patient-flow__empty-list {
  border-bottom: 1px solid $black-90;
  color: $black-80;
  font-size: 16px;
  font-weight: 600;
  margin: 40px auto 20px;
  padding: 20px;
  text-align: center;
}
