// Aside

$aside-border: 1px solid $black-90;

.aside {
  padding-left: $pad-large;
}

.aside__header {
  max-width: 256px;
  padding-top: $pad-med;
}

.aside__heading--large {
  color: $black-20;
  font-size: 18px;
  font-weight: $semibold-font-weight;
}

// ----- Buttons ----- //
.aside__buttons {
  border: $aside-border;
  border-radius: 4px;
  margin: $pad-small 0 0;
}

// also a .button--grey
.aside__button {
  border: 0;
  border-radius: 0;
  border-right: $aside-border;
  height: 32px;
  padding: $pad-small;
  text-align: center;
  width: 50%;

  &:first-child {
    border-left: 0;
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px;
    border-right: 0;
  }
}


.aside__section {
  flex: none;
  margin-top: $pad-med;
  max-width: 256px;
  overflow: hidden;

  &:not(:first-of-type):before {
    border-top: $aside-border;
    content: '';
    display: block;
    height: 0;
    margin-bottom: $pad-med;
  }

  &:last-of-type {
    padding-bottom: $pad-large;
  }
}

.aside__heading {
  color: $black-60;
  font-size: 12px;
  margin-top: $pad;

  &:first-child {
    margin-top: 0;
  }
}

.aside__item:empty:before {
  // &ndash;
  content: '–';
}

.aside__item + .aside__item {
  margin-top: $pad;
}

.aside__action {
  color: $black-60;
  display: inline-block;
  font-size: 12px;
  margin-top: $pad-small;
  text-decoration: underline;

  &:hover {
    color: color(blue);
  }
}

.aside__item--alert {
  color: color(red);
}
