// https://marvelapp.com/1h393fb6/screen/59639430

.button {
  background: none;
  border: 1px solid $black-90;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 0.15s;
  transition-timing-function:  linear;
  vertical-align: middle;
  white-space: nowrap;

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.has-error {
    border-color: $error-color;
  }

  .icon {
    font-size: 16px;
    line-height: 16px;
    margin-right: 8px;
    position: relative;
    width: 16px;
  }

  .icon.fa-angle-down {
    font-size: 16px;
    margin-left: 8px;
    margin-right: 0;
  }
}

.button-primary {
  @extend .button;

  color: color(light_blue);
  text-align: left;

  &:hover:enabled {
    background-color: color(light_blue, light);
    border-color: color(light_blue);
    color: color(light_blue);
  }

  &:active:enabled,
  &:focus {
    background-color: color(light_blue);
    border-color: color(light_blue);
    color: $white;
  }
}

.button-secondary {
  @extend .button;

  color: $black-20;
  line-height: 16px;
  text-align: left;

  &:hover:enabled {
    background-color: $white;
    border-color: $black-60;
  }

  &:active:enabled,
  &:focus {
    background-color: $black-90;
    border-color: $black-60;
  }
}

.button-secondary--compact {
  @extend .button-secondary;

  font-size: 12px;
  line-height: 14px;
  padding: 8px;

  &.is-icon-only .icon {
    margin-right: 0;
  }
}

.button-filter {
  @extend .button;

  background: $white;
  color: $black-20;
  font-size: 12px;

  &:hover:enabled {
    background-color: $black-95;
    border-color: $black-80;
  }

  &:active:enabled,
  &:focus {
    background-color: $black-90;
    border-color: $black-90;
  }

  .icon.fa-angle-down {
    font-size: 12px;
    margin-top: 4px;
  }
}

.button-filter-toggle {
  @extend .button;

  color: color(blue);
  font-size: 12px;
  line-height: 16px;

  &:hover:enabled {
    background-color: color(light_blue, light);
    border-color: color(light_blue);
    color: color(light_blue);
  }

  &:active:enabled,
  &:focus {
    background-color: color(light_blue);
    border-color: color(light_blue);
    color: $white;
  }

  .icon {
    font-size: 12px;
    margin-left: 8px;
    margin-right: 0;
  }
}

.button--blue {
  @extend .button;

  background-color: color(blue);
  border-color: color(blue);
  color: $white;
  font-weight: 700;

  &:hover:enabled {
    background-color: color(blue, light);
    color: $white;
  }

  &:active:enabled,
  &:focus {
    background-color: color(blue, dark);
    color: $white;
  }
}

.button--red {
  @extend .button;
  background-color: color(red);
  border-color: color(red);
  color: $white;
  font-weight: 700;

  &:hover:enabled {
    background-color: color(red, light);
  }

  &:active:enabled,
  &:focus {
    background-color: color(red, dark);
  }
}

.button--green {
  @extend .button;
  background-color: color(green);
  border-color: color(green);
  color: $white;
  font-weight: 700;

  &:hover:enabled {
    background-color: color(green, light);
  }

  &:active:enabled,
  &:focus {
    background-color: color(green, dark);
  }
}

.button--grey {
  @extend .button;
  background-color: $black-20;
  border-color: $black-20;
  color: $white;
  font-weight: 700;

  &:hover:enabled {
    background-color: $black-40;
  }

  &:active:enabled,
  &:focus {
    background-color: $black-40;
  }
}

.button--text {
  @extend .button;

  border-color: transparent;
  color: $black-60;

  &:hover,
  &:focus {
    color: $black-20;
  }
}

.button--link {
  @extend .button;

  border-color: transparent;
  color: color(blue);
  font-size: 12px;
  padding: 2px 0;

  &:hover,
  &:focus {
    color: color(blue, dark);
  }

  &.is-disabled,
  &[disabled] {
    color: $black-60;
  }
}

.button--icon {
  color: $black-60;
  line-height: 1;
  transition: color 0.15s linear;

  &:hover,
  &:focus {
    color: $black-20;
  }
}

.button--checkbox {
  color: $black-80;

  &:hover {
    color: $black-20;
  }

  &:disabled {
    color: $black-90;
    cursor: default;
  }

  .fa-check-square,
  .fa-minus-square {
    color: color(green);
  }
}

.button__value--indeterminate {
  color: $black-60;
  font-style: italic;
  font-weight: bold;
}

.button__group {
  border-radius: 0;

  + .button__group:not(:hover) {
    border-left-color: transparent;
  }

  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}
