%button {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: $semibold-font-weight;
  padding: $pad-small $pad;
  text-decoration: none;
  transition: background-color 0.15s, box-shadow;
  transition-timing-function:  linear;

  &:focus,
  &:active,
  &.selected,
  &.is-active {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25);
  }

  &.disabled,
  &[disabled],
  &[disabled= 'disabled'] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  // Size variants
  &.small {
    padding: $pad-smaller $pad;
  }

  &.medium {
    padding: $pad-smaller $pad-med;
  }

  &.large {
    font-size: 16px;
    padding: $pad-small $pad;
  }

  &.x-large {
    font-size: 18px;
    padding: $pad $pad-large;
  }

  &.block {
    display: block;
    width: 100%;
  }
}

.button--blue {
  @extend %button;

  background-color: color(blue);
  border-color: color(blue, border);

  &:hover,
  &:focus {
    background-color: color(blue, light);
  }

  &:active {
    background-color: color(blue, dark);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25);
  }

  &.disabled,
  &[disabled] {
    &:hover {
      background-color: color(blue);
    }
  }

  &.tab-focus {
    &:focus {
      box-shadow: 0 0 0 2px $white, 0 0 0 3px color(blue);
    }
  }
}

.button--red {
  @extend %button;
  background-color: color(red);
  border-color: color(red, border);

  &:hover,
  &:focus {
    background-color: color(red, light);
  }

  &:active {
    background-color: color(red, dark);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25);
  }

  &.disabled,
  &[disabled] {
    &:hover {
      background-color: color(red);
    }
  }
}

.button--green {
  @extend %button;
  background-color: color(green);
  border-color: color(green, border);

  &:hover,
  &:focus {
    background-color: color(green, light);
  }

  &:active {
    background-color: color(green, dark);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25);
  }

  &.disabled,
  &[disabled] {
    &:hover {
      background-color: color(green);
    }
  }
}

.button--white {
  @extend %button;
  background-color: $white;
  border-color: #D9D9D9;
  color: color(blue);

  &:hover {
    background-color: color(blue);
    border-color: color(blue, border);
    color: $white;
  }
}

.button--grey {
  @extend %button;
  background-color: $black-98;
  border-color: $black-80;
  color: color(navy, light);

  &:hover {
    background-color: $white;
    color: color(blue);
  }
}

.button--light-green {
  @extend %button;
  background-color: color(light_green);
  border-color: color(light_green, light_border);
  color: color(green);

  &:hover,
  &:focus {
    border-color: color(green);
  }

  &:active {
    background-color: color(light_green, dark);
  }
}


.button--light-blue {
  @extend %button;
  background-color: color(light_blue);
  border-color: color(light_blue, light_border);
  color: color(blue);
  font-size: 14px;

  &:hover {
    border-color: color(blue);
  }

  &:active {
    background-color: color(light_blue, dark);
  }

  &.disabled,
  &[disabled] {
    background-color: $white;
    border-color: #E5E5E5;
    color: $black-80;

    &[class*=icon-]:before {
      color: $black-80;
    }
  }

  &.has-error {
    border-color: $error-color;
  }
}

.button--link {
  color: color(blue);
  cursor: pointer;
  font-size: 14px;
  font-weight: $bold-font-weight;
  padding: $pad-smaller 0;
}

.button--left-icon,
.button--left-icon.small {
  padding-left: $pad-large;
  position: relative;
  text-align: left;
}

.button__icon--left {
  left: $pad;
  position: absolute;
}
