// https://marvelapp.com/1h393fb6/screen/59639430

.button {
  background: none;
  border: 1px solid $black-90;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 0.15s;
  transition-timing-function:  linear;
  vertical-align: middle;
  white-space: nowrap;

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.has-error {
    border-color: $error-color;
  }
}

.button-primary {
  @extend .button;

  color: color(light_blue);
  line-height: 16px;
  padding-left: 40px;
  text-align: left;

  &:hover:enabled {
    background-color: color(light_blue, light);
    border-color: color(light_blue);
    color: color(light_blue);
  }

  &:active:enabled,
  &:focus {
    background-color: color(light_blue);
    border-color: color(light_blue);
    color: $white;
  }

  .icon {
    font-size: 16px;
    left: 16px;
    line-height: 16px;
    position: absolute;
    top: 8px;
  }
}

.button-secondary {
  @extend .button;

  color: $black-20;
  line-height: 16px;
  padding-left: 40px;
  text-align: left;

  &:hover:enabled {
    background-color: $white;
    border-color: $black-60;
  }

  &:active:enabled,
  &:focus {
    background-color: $black-90;
    border-color: $black-60;
  }

  .icon {
    font-size: 16px;
    left: 16px;
    line-height: 16px;
    position: absolute;
    top: 8px;
  }
}

.button-secondary--compact {
  @extend .button-secondary;

  font-size: 12px;
  height: 34px;
  padding: 8px;
  padding-left: 32px;

  .icon {
    left: 8px;
  }

  &.is-icon-only {
    padding-left: 8px;

    .icon {
      left: auto;
      position: relative;
      top: auto;
    }
  }
}

.button-filter {
  @extend .button;

  color: $black-20;
  font-size: 12px;

  &:hover:enabled {
    background-color: $black-95;
    border-color: $black-80;
  }

  &:active:enabled,
  &:focus {
    background-color: $black-90;
    border-color: $black-90;
  }

  .icon.fa-angle-down {
    font-size: 12px;
    margin-left: 8px;
  }
}

.button--blue {
  @extend .button;

  background-color: color(blue);
  border-color: color(blue);
  color: $white;
  font-weight: 700;

  &:hover:enabled {
    background-color: color(blue, light);
  }

  &:active:enabled,
  &:focus {
    background-color: color(blue, dark);
  }
}

.button--red {
  @extend .button;
  background-color: color(red);
  border-color: color(red);
  color: $white;
  font-weight: 700;

  &:hover:enabled {
    background-color: color(red, light);
  }

  &:active:enabled,
  &:focus {
    background-color: color(red, dark);
  }
}

.button--green {
  @extend .button;
  background-color: color(green);
  border-color: color(green);
  color: $white;
  font-weight: 700;

  &:hover:enabled {
    background-color: color(green, light);
  }

  &:active:enabled,
  &:focus {
    background-color: color(green, dark);
  }
}

.button--text {
  @extend .button;

  border-color: transparent;
  color: $black-60;

  &:hover {
    color: $black-80;
  }
}

.button--icon {
  color: $black-60;

  &:hover {
    color: $black-80;
  }
}

.button--checkbox {
  color: $black-80;

  &:hover {
    color: $black-20;
  }

  &:disabled {
    color: $black-90;
    cursor: default;
  }

  .fa-check-square {
    color: color(green);
  }
}
