.input-primary {
  border: 1px solid $black-90;
  font-size: 16px;
  font-weight: $semibold-font-weight;
  padding: $pad-small $pad;
}

.input-secondary {
  border: 1px solid $black-90;
  font-size: 14px;
  padding: $pad-small $pad;
}
