::placeholder {
  color: $black-60;
}

.input-primary {
  border: 1px solid $black-90;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.input-primary--small {
  @extend .input-primary;

  font-size: 14px;
  padding: 4px 8px;
}

.input-secondary {
  border: 1px solid $black-90;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 16px;

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
