.input-pretty__label {
  display: inline-block;
  margin: 0;
  padding-left: $pad-med;
  position: relative;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }
}

.input-pretty__radio,
.input-pretty__checkbox {
  cursor: pointer;
  height: 20px;
  opacity: 0.01; // visible for tab
  position: absolute;
  width: 20px;
  z-index: 7;

  // base style for the outer circle or checkbox
  + .input-pretty__label:before {
    background-color: $white;
    border: 1px solid $black-85;
    content: '';
    display: inline-block;
    height: 20px;
    left: 0;
    margin-right: $pad-small;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: 5;
  }

  // error states are handled by adding a class to the input
  &.has-error + .input-pretty__label:before {
    border-color: $error-color;
  }

  // input states for the outer circle or checkbox
  &:disabled + .input-pretty__label:before {
    background-color: $black-80;
  }

  &:checked + .input-pretty__label:before {
    border: 1px solid $black-60;
  }
}

.input-pretty__radio {
  // unchecked
  // :before is the outer circle
  + .input-pretty__label:before {
    border-radius: 40px;
  }

  // :after is the inner circle
  &:checked + .input-pretty__label:after,
  &:focus + .input-pretty__label:after,
  &:hover + .input-pretty__label:after {
    border-radius: 28px;
    content: '';
    display: block;
    height: 14px;
    left: 3px;
    line-height: 1;
    position: absolute;
    top: 1px;
    width: 14px;
    z-index: 6;
  }

  &:focus + .input-pretty__label:after {
    background-color: $black-90;
  }

  &:checked + .input-pretty__label:after {
    background-color: color(blue) !important;
  }

  &:checked:disabled + .input-pretty__label:after {
    background: $black-60;
  }

  &:hover + .input-pretty__label:after {
    background-color: $black-80;
  }
}

.input-pretty__checkbox {
  // unchecked
  // :before is outer checkbox
  + .input-pretty__label:before {
    border-radius: 4px;
  }

  // :after is the checkmark
  // .font-icon-checkmark
  &:checked + .input-pretty__label:after,
  &:focus + .input-pretty__label:after,
  &:hover + .input-pretty__label:after {
    // font-icon-checkmark
    content: '\e00b';
    font-family: $icon-font;
    font-size: 16px;
    left: 2px;
    line-height: 1;
    position: absolute;
    top: 0;
    z-index: 6;
  }

  &:focus + .input-pretty__label:after {
    color: $black-90;
  }

  &:checked + .input-pretty__label:after {
    color: color(blue) !important;
  }

  &:checked:disabled + .input-pretty__label:after {
    color: $black-60;
  }

  &:hover + .input-pretty__label:after {
    color: $black-80;
  }
}
