.list-page__header {
  padding: 32px 24px 0;
}

.list-page__header-icon {
  color: $black-60;
  font-size: 16px;
  margin-left: 8px;
  vertical-align: bottom;
}

.list-page__list {
  overflow-y: auto;
  padding: 0 24px;
}

.list-page__title {
  border-bottom: 1px solid $black-90;
  font-size: 24px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.list-page__title-icon {
  margin-right: 16px;
  vertical-align: bottom;

  .icon {
    font-size: 20px;
  }
}

.list-page__filters {
  margin-bottom: 16px;
}
