.modal {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.5);
  position: absolute;
  width: 544px;
}

.modal--small {
  @extend .modal;

  border-radius: 4px;
  width: 352px;
}

.modal--sidebar {
  background: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 464px;
}

.modal__header {
  color: $black-20;
  display: flex;
  font-size: 24px;
  line-height: 1.2;
  padding: 20px 24px 16px;
  position: relative;

  .icon {
    font-size: 20px;
    vertical-align: top;
  }
}

.modal__header--small {
  font-size: 16px;
  font-weight: 600;

  .icon {
    font-size: 16px;
    vertical-align: top;
  }
}

.modal__header--sidebar {
  padding: 16px 24px;
}

.modal__header-icon {
  align-items: center;
  display: flex;
  margin-right: 16px;
}

.modal__body {
  max-height: 100%;
  overflow-y: auto;
  position: relative;
}

.modal__content {
  border-top: 1px solid $black-90;
  padding: 16px 24px 0;
}

.modal__content--small {
  padding: 8px 24px;
}

.modal__content--sidebar {
  padding: 16px 24px 0;
}

.modal__footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 16px 24px;
}

.modal__footer-actions {
  display: flex;
  flex-direction: row-reverse;
}

.modal__footer-info {
  flex-grow: 1;
  font-size: 12px;
  font-weight: 600;
  line-height: 32px;
}

.modal__error {
  color: $error-color;
}
