.modal {
  background-color: $white;
  border-radius: 4px;
  position: absolute;
  width: 600px;
}

.modal--tall {
  @extend .modal;
  height: 70%;
}

.modal--small {
  @extend .modal;
  width: 352px;
}

.modal__header {
  padding: 16px 16px 16px 24px;
  position: relative;
}

.modal__close {
  color: $black-60;
  display: block;
  font-size: 16px;
  position: absolute;
  right: 16px;
  top: 16px;
  transition: color 0.15s linear;

  &:hover,
  &:focus {
    color: $black;
  }
}

.modal__heading {
  color: $black-20;
  font-size: 16px;
  font-weight: 600;
}

.modal__body {
  max-height: 100%;
  overflow-y: auto;
  position: relative;
}

.modal__content {
  padding: 16px 16px 0 24px;

  p {
    margin-bottom: 16px;
  }
}

.modal__content--tall {
  @extend .modal__content;

  max-height: 65vh;
  min-height: 50vh;
  padding: 0;
}

.modal__footer {
  @include clearfix();
  padding: 16px 16px 16px 24px;
}

.modal__footer--white {
  @extend .modal__footer;
  background-color: $white;
}

.modal__footer--empty {
  min-height: 8px;
}

.modal--sidebar {
  background: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 400px;
  min-height: 0;
  position: absolute;
  right: 0;
  top: 0;

  .modal__close {
    right: 24px;
  }

  .modal__header {
    padding: 16px 40px 16px 24px;
  }

  .modal__footer {
    flex-grow: 1;
    padding: 16px 24px;
  }
}

.modal__error {
  color: $error-color;
  flex-grow: 1;
  font-size: 12px;
  font-weight: 600;
  line-height: 32px;
  padding: 24px;
}
