.progress-bar {
  background: $black-90;
  border: 0;
  border-radius: 16px;
  display: inline-block;
  height: 16px;
  vertical-align: middle;
}

.progress-bar::-webkit-progress-bar {
  background: transparent;
}

.progress-bar::-moz-progress-bar {
  background: color(green);
  border-radius: 16px;
}

.progress-bar::-webkit-progress-value {
  background: color(green);
  border-radius: 16px;
}

.progress-bar::-ms-fill {
  background: color(green);
  border: 0;
  border-radius: 16px;
}
