.sidebar {
  border-left: 1px solid $black-90;
  max-width: 400px;
  overflow-y: auto;
  padding: 16px 24px;
}

.sidebar__details {
  min-height: 58px;
}

.sidebar__heading {
  font-weight: 600;
}

.sidebar__delete-icon {
  color: $error-color;
}

.is-highlighted .sidebar__delete-icon {
  color: $white;
}

.sidebar__footer {
  border-top: 1px solid $black-90;
  font-size: 12px;
  font-weight: 600;
  margin-top: 16px;
  padding-top: 16px;
}

.sidebar__footer-left {
  margin-right: 32px;
}

.sidebar__label {
  color: $black-60;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin-right: 8px;
  width: 72px;
}

.sidebar__activity {
  color: $black-60;
  font-size: 12px;

  .spinner {
    margin-top: 60px;
  }
}

.sidebar__info {
  background: color(yellow, light);
  border-radius: 4px;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  max-width: 232px;
  padding: 8px;

  .icon {
    color: $black-60;
    margin-right: 8px;
  }
}
