.textarea-flex__input {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  resize: none;
  top: 0;
  width: 100%;
}

.textarea-flex__container {
  height: auto;
  resize: none;
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}
